# PROJECT 02 : SHARK ATTACKS
-----

### BRIEF : data analysis of global shark attacks for a business idea
You will initially examine the Shark Attack dataset, understanding its structure and formulating a hypothesis or several hypotheses about the data. 
 We hypothesize that shark attacks are more common in certain locations and peak during specific months.
We define a Business Case, such as 

* ‚ÄúAs a company that sells medical products, I want to identify destinations with high shark attack rates.‚Äù
* ‚ÄúAs a company providing supply transportation services, I want to know when and where shark attacks peak to plan the safe transport of medical supplies to hospitals.‚Äù

 Throughout the project, we will use Python and the pandas library to apply at least five data cleaning techniques to handle missing values, duplicates, and formatting inconsistencies. After cleaning, we will perform basic exploratory data analysis to validate our hypotheses and extract insights. 

#### üìù BUSINESS IDEA ‚Äî 3 Bullet Points

* Problem to Solve: Coastal hospitals and emergency response teams are not always prepared with the right medical supplies during periods of high shark-attack frequency. This business solves the problem by predicting when and where attacks are most likely, so medical supplies can be stocked in advance.

* Business Concept: Use historical shark attack data to create global heatmaps and seasonal risk forecasts. Then provide pharmaceutical products (painkillers, antibiotics, blood bags, emergency kits) and transportation support to hospitals and ambulances near high-risk beaches.

* Data Used to Profit: The business will analyze Country, Date/Month, Gender, Age, Fatality, and Type of Injury to identify high-risk locations, peak attack months, and most common injury types. This allows optimized supply production, targeted sales, and efficient delivery to the areas that need it most.

## üåÄCOLUMNS TO CLEAN : 
-----

**- COUNTRY (global comparison between countries to invest in more)** @Blanca

    * we just take the country column and make sure every country name is accurately named
    * We are gonna check the column of COUNTRY and make sure every country name is correct
    * We remove NULL COUNTRY data rows that dont have any country
    * We need to make sure that the name of COUNTRY  is capitalized and written the same way for example :
        United States of Amercia == USA == US
        it has to have the same name and consistent!

**- DATE ( MONTH + YEAR )** @Blanca

    * split the date into day - month columns and only use month column
    * interpret months which have shark attacks happen the most

**- GENDER ( F or M )** @Cecilia

    * We check unique values and make it so it is only two values F or M and deleted all rows that have other values
    * we noticed mostly M get attacked
    * percentages Male to Female victims
    * We remove NULL DATE data rows that dont have a date or that the date doesnt include a month and a year
    * We are gonna check the column of DATE and seperate it into three columns DAY + MONTH + YEAR
    * We verify that the new YEAR column matches with the old YEAR column and keep the ones that match
        * NEW YEAR COLUMN is the one split from the DATE column
        * OLD YEAR COLUMN is the one already existing in the original sheet
    * Once we finish comparing the new YEAR column vs old YEAR column and we find them not matching on some data rows. we remove the none matching ones so we keep clean data of accurate years
    * We remove the DAY and OLD YEAR columns
    * We are gonna keep the MONTH and matching YEAR

**- AGE (victims age ranges)** @Samia

    * majority of victims survive
    * we split the age groups into three categories (minors under 18 / adults 18-40 and 40+) 
    * keep in mind complications depending on age when getting treated
    * percentages of victims based on age ranges
    * we split the age groups into three categories (minors under 18 / adults 18-40 and elders 40+) 
    * note that there are complications depending on age

**- FATALITY ( Y or N )** @Cecilia
    * depends on the column 'Type' of injury and if it includes death or high severity
    * mostly survived 
    * for the pharamaceutical logistics & transportation of injured people to the hospital
    * assumption we have a percentage of survivals highest and we use it to sell for the
    * We check unique values and make sure it is only two values Y or N and deleted all rows that have other values
    * assumption we have a high percentage of survivals and we use it to sell the idea to profit from selling products to hospitals

**- INJURY TYPE** @Samia

    * clean the type of injury by severity
    * seperate the injury type into different severity
    * seperate the injury type into different body parts
    * treatment depends on type of injury and thus the supplies as well

-------

### IMPORT UTILS and INIT from SRC

In [679]:
import sys, os
sys.path.append(os.path.abspath(".."))
from src import utils
from src import init

-----
### GENERAL

In [680]:
import pandas as pd

# Load the CSV
url = 'https://drive.google.com/uc?export=download&id=1ZRuzHohahE54BC7hKcA289tyuL9cp7-h'
df = pd.read_csv(url)
df.head(3)

URLError: <urlopen error [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond>

In [ ]:

# Option 1: Display the entire DataFrame (all rows and columns)
pd.set_option('display.max_rows', None)      # Show all rows
pd.set_option('display.max_columns', None)   # Show all columns

#the full table
#print(df)

In [ ]:
df.info()
# change type of each serie
# year into int or split it from Date
# Age into int

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       561 non-null    object
 1   Year       560 non-null    float64
 2   Type       557 non-null    object
 3   Country    556 non-null    object
 4   State      508 non-null    object
 5   Location   503 non-null    object
 6   Activity   433 non-null    object
 7   Name       502 non-null    object
 8   Sex        480 non-null    object
 9   Age        238 non-null    object
 10  Injury     553 non-null    object
 11  Fatal Y/N  0 non-null      float64
 12  Time       157 non-null    object
 13  Species    526 non-null    object
 14  Source     556 non-null    object
dtypes: float64(2), object(13)
memory usage: 65.9+ KB

In [ ]:
print("\nData Frame SHAPE", df.shape)

print("\nData Columns")
df.columns

Data Frame SHAPE (561, 15)

Data Columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source'],
      dtype='object')

-----
### 'Country' CLEANING

In [ ]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source'],
      dtype='object')

In [ ]:
df['Country']

0                       AUSTRALIA
1                         BAHAMAS
2                         BAHAMAS
3                      SEYCHELLES
4                       ARGENTINA
5                      COSTA RICA
6                          BRAZIL
7                       AUSTRALIA
8                           EGYPT
9                       AUSTRALIA
10                      AUSTRALIA
11                      AUSTRALIA
12               FRENCH POLYNESIA
13                      AUSTRALIA
14                            USA
15                        BAHAMAS
16                            USA
17                       COLOMBIA
18                         BRAZIL
19                   SOUTH AFRICA
20                            USA
21                   SOUTH AFRICA
22                          SPAIN
23                            USA
24                            USA
25                        COMOROS
26                            USA
27                            USA
28                            USA
29                            USA
30                   SOUTH AFRICA
31                      AUSTRALIA
32                      AUSTRALIA
33                            USA
34                         MEXICO
35                         MEXICO
36                            USA
37                      AUSTRALIA
38                     CAPE VERDE
39                            USA
40                            USA
41                            USA
42                 CAYMAN ISLANDS
43                      AUSTRALIA
44                            USA
45                            USA
46                            USA
47                          SPAIN
48                      AUSTRALIA
49                            USA
50                            USA
51               FRENCH POLYNESIA
52                            USA
53                          ITALY
54                         BRAZIL
55                      AUSTRALIA
56                            USA
57                   SOUTH AFRICA
58                            USA
59                            USA
60                            NaN
61                        BAHAMAS
62                            USA
63                      AUSTRALIA
64                      AUSTRALIA
65                 CAYMAN ISLANDS
66                            USA
67                          SPAIN
68                        JAMAICA
69                            USA
70                      AUSTRALIA
71                      AUSTRALIA
72                      AUSTRALIA
73                      AUSTRALIA
74                            USA
75                            USA
76              TRINIDAD & TOBAGO
77                         CANADA
78                      AUSTRALIA
79                        CROATIA
80                            USA
81                   SAUDI ARABIA
82                        ANTIGUA
83                   SOUTH AFRICA
84                      AUSTRALIA
85                            USA
86                      AUSTRALIA
87                            USA
88                         BRAZIL
89     UNITED ARAB EMIRATES (UAE)
90                          EGYPT
91                      AUSTRALIA
92                      AUSTRALIA
93                        BAHAMAS
94                            USA
95                           GUAM
96                   SOUTH AFRICA
97                            USA
98                          NEVIS
99                          SPAIN
100                           USA
101                           USA
102                           USA
103                  SOUTH AFRICA
104                        BRAZIL
105                        BRAZIL
106                     AUSTRALIA
107                           USA
108                           USA
109                           USA
110                           USA
111                           USA
112                  SOUTH AFRICA
113                        MEXICO
114                     AUSTRALIA
115                         JAPAN
116                   NEW ZEALAND
117        BRITISH VIRGIN ISLANDS
118                     AUSTRALIA
119                        MEXICO
120                           USA
121                           USA
122                       SENEGAL
123                           USA
124                     AUSTRALIA
125                    COSTA RICA
126                     AUSTRALIA
127                           USA
128              FRENCH POLYNESIA
129                  SOUTH AFRICA
130                     AUSTRALIA
131                        BRAZIL
132                        BELIZE
133                     AUSTRALIA
134                         SPAIN
135                           USA
136                  SOUTH AFRICA
137                           USA
138                       BAHAMAS
139                           USA
140                           USA
141                  SOUTH AFRICA
142                    Seychelles
143                           USA
144                       LIBERIA
145                     AUSTRALIA
146                           USA
147                           USA
148                           USA
149                      HONDURAS
150                  SOUTH AFRICA
151                     SRI LANKA
152                   NEW ZEALAND
153                           USA
154                     AUSTRALIA
155                           USA
156                           USA
157                     AUSTRALIA
158                   NEW ZEALAND
159                   NEW ZEALAND
160                           USA
161                           USA
162                           USA
163                           USA
164                           USA
165                  SOUTH AFRICA
166                     AUSTRALIA
167                     INDONESIA
168                     AUSTRALIA
169                 NEW CALEDONIA
170                     AUSTRALIA
171                     AUSTRALIA
172                    MADAGASCAR
173                        BRAZIL
174                      MALAYSIA
175                     AUSTRALIA
176                           USA
177                           USA
178                           USA
179                     AUSTRALIA
180                   NEW ZEALAND
181                           USA
182                     AUSTRALIA
183                           USA
184                         ITALY
185                     AUSTRALIA
186                           USA
187                     AUSTRALIA
188                        MEXICO
189                           USA
190                           USA
191                           USA
192                           USA
193                         TONGA
194                           USA
195                           USA
196                  SOUTH AFRICA
197                           USA
198                     AUSTRALIA
199                           USA
200                     AUSTRALIA
201                           USA
202                           USA
203                           USA
204                           USA
205                     AUSTRALIA
206                         JAPAN
207                       BAHAMAS
208                  SOUTH AFRICA
209                           USA
210                     AUSTRALIA
211                           USA
212                           USA
213                           USA
214                       BERMUDA
215                         JAPAN
216                           USA
217                           USA
218                  SOUTH AFRICA
219                  SOUTH AFRICA
220                     AUSTRALIA
221                     AUSTRALIA
222                  SOUTH AFRICA
223                  SOUTH AFRICA
224                  SOUTH AFRICA
225                    MONTENEGRO
226                  SOUTH AFRICA
227                           USA
228                  SOUTH AFRICA
229                  SOUTH AFRICA
230                           USA
231                           USA
232                           USA
233                  SOUTH AFRICA
234                           USA
235                           USA
236                           USA
237                  SOUTH AFRICA
238                       SOMALIA
239                  SOUTH AFRICA
240                        GREECE
241                  SOUTH AFRICA
242                  SOUTH AFRICA
243                         ITALY
244                  SOUTH AFRICA
245                  SOUTH AFRICA
246                           USA
247                           USA
248                  SOUTH AFRICA
249                           USA
250                           USA
251                           USA
252                           USA
253                  SOUTH AFRICA
254                  SOUTH AFRICA
255                  SOUTH AFRICA
256                        GREECE
257                  SOUTH AFRICA
258                           USA
259                  SOUTH AFRICA
260                         ITALY
261                  SOUTH AFRICA
262                           USA
263                     AUSTRALIA
264                     AUSTRALIA
265                     AUSTRALIA
266                  SOUTH AFRICA
267                           USA
268                           USA
269                           USA
270                         ITALY
271                  SOUTH AFRICA
272                  SOUTH AFRICA
273                    MOZAMBIQUE
274                           USA
275                       CROATIA
276                           NaN
277                           USA
278                     AUSTRALIA
279                     AUSTRALIA
280                  SOUTH AFRICA
281                  SOUTH AFRICA
282              PAPUA NEW GUINEA
283                           USA
284                        MEXICO
285                      TANZANIA
286                           USA
287                           USA
288                           USA
289                           USA
290              PAPUA NEW GUINEA
291                  SOUTH AFRICA
292                           USA
293                         ITALY
294                     AUSTRALIA
295                           USA
296                     AUSTRALIA
297                     AUSTRALIA
298                       BAHAMAS
299                  SOUTH AFRICA
300                           USA
301                           USA
302                           USA
303                           USA
304                        PANAMA
305                   PHILIPPINES
306                           USA
307                           USA
308                           USA
309                           USA
310                           USA
311                  SOUTH AFRICA
312                           USA
313                           NaN
314                           USA
315                           USA
316                           USA
317                  SOUTH AFRICA
318                     AUSTRALIA
319                   NEW ZEALAND
320                ATLANTIC OCEAN
321                           USA
322                           USA
323                           USA
324                           USA
325                     AUSTRALIA
326                     AUSTRALIA
327                           USA
328                        GREECE
329                           USA
330                  SOUTH AFRICA
331                     AUSTRALIA
332                        MEXICO
333                           USA
334                     AUSTRALIA
335                           USA
336                           USA
337                  SOUTH AFRICA
338                           USA
339                     AUSTRALIA
340                           USA
341               JOHNSTON ISLAND
342              MARSHALL ISLANDS
343              MARSHALL ISLANDS
344                           USA
345                    MOZAMBIQUE
346                           USA
347                       BERMUDA
348                           USA
349                           USA
350                 CARIBBEAN SEA
351                     AUSTRALIA
352                           USA
353                       BERMUDA
354                           USA
355                     AUSTRALIA
356                         JAPAN
357                   PHILIPPINES
358                           USA
359                           USA
360                         ITALY
361                           USA
362                     AUSTRALIA
363                        TURKEY
364                  SOUTH AFRICA
365                     AUSTRALIA
366                  SOUTH AFRICA
367                     AUSTRALIA
368                         JAPAN
369                          CUBA
370                     SRI LANKA
371                          CUBA
372                           USA
373                         JAPAN
374                         ITALY
375                       CROATIA
376                           USA
377                        MEXICO
378                     GUATEMALA
379                  SOUTH AFRICA
380                    MOZAMBIQUE
381          NORTH ATLANTIC OCEAN
382                     AUSTRALIA
383                           USA
384                     AUSTRALIA
385                           USA
386                           USA
387                     AUSTRALIA
388                         ITALY
389                     AUSTRALIA
390                     AUSTRALIA
391                       SENEGAL
392                  SOUTH AFRICA
393                        GREECE
394                     AUSTRALIA
395           NORTH PACIFIC OCEAN
396                           USA
397                        MEXICO
398                 PACIFIC OCEAN
399                           USA
400                        BRAZIL
401                  INDIAN OCEAN
402                     AUSTRALIA
403                     AUSTRALIA
404                  SOUTH AFRICA
405                  SOUTH AFRICA
406                  SOUTH AFRICA
407                     AUSTRALIA
408                     AUSTRALIA
409                        TURKEY
410                         ITALY
411                     AUSTRALIA
412                     AUSTRALIA
413                     AUSTRALIA
414                     AUSTRALIA
415                UNITED KINGDOM
416                           USA
417                           USA
418                     AUSTRALIA
419                        ISRAEL
420                     AUSTRALIA
421               ITALY / CROATIA
422                     AUSTRALIA
423                           USA
424                           USA
425                           USA
426                     AUSTRALIA
427                    COSTA RICA
428                  SOUTH AFRICA
429                    CAPE VERDE
430                     AUSTRALIA
431                           USA
432                         INDIA
433                           USA
434                           USA
435                         SPAIN
436                     AUSTRALIA
437                     AUSTRALIA
438                     AUSTRALIA
439                     AUSTRALIA
440                     AUSTRALIA
441                     AUSTRALIA
442                          CUBA
443                     AUSTRALIA
444                     AUSTRALIA
445                   PHILIPPINES
446                           USA
447                           USA
448                         EGYPT
449                   NEW ZEALAND
450                           USA
451                           USA
452                           USA
453                           USA
454                         ITALY
455                  SOUTH AFRICA
456                           USA
457                       CROATIA
458                           USA
459                           USA
460                           USA
461                           USA
462                           NaN
463                         ITALY
464                         SPAIN
465                           USA
466                         HAITI
467                       ENGLAND
468                     AUSTRALIA
469                    MOZAMBIQUE
470                     AUSTRALIA
471                   NEW ZEALAND
472                     AUSTRALIA
473                         EGYPT
474                         ITALY
475                     AUSTRALIA
476                     AUSTRALIA
477                     AUSTRALIA
478                           USA
479                  SOUTH AFRICA
480                  SOUTH AFRICA
481                         ITALY
482                        YEMEN
483                  SOUTH AFRICA
484                           USA
485                   NEW ZEALAND
486                   PHILIPPINES
487                     AUSTRALIA
488                           USA
489                     AUSTRALIA
490                         CRETE
491                        MEXICO
492                          CUBA
493                       CROATIA
494                     AUSTRALIA
495                        FRANCE
496                           USA
497                     AUSTRALIA
498                  SOUTH AFRICA
499                        GREECE
500                           USA
501                       JAMAICA
502                       CROATIA
503                     AUSTRALIA
504                       CROATIA
505                           USA
506                   NEW ZEALAND
507                   NEW ZEALAND
508                     AUSTRALIA
509                           USA
510                           USA
511                     AUSTRALIA
512                           USA
513                        MEXICO
514                         SYRIA
515                           USA
516                     AUSTRALIA
517                  INDIAN OCEAN
518                  SOUTH AFRICA
519                  SOUTH AFRICA
520                     AUSTRALIA
521                     AUSTRALIA
522                        AZORES
523                       CROATIA
524                          Fiji
525                     AUSTRALIA
526                        GUYANA
527                     AUSTRALIA
528                           NaN
529                     AUSTRALIA
530                         CHINA
531                     AUSTRALIA
532                  SOUTH AFRICA
533                   NEW ZEALAND
534                         SPAIN
535                           USA
536                           USA
537                     AUSTRALIA
538                           USA
539                     AUSTRALIA
540                ATLANTIC OCEAN
541                     AUSTRALIA
542                           USA
543                           USA
544                     AUSTRALIA
545                           USA
546                         SPAIN
547                     AUSTRALIA
548                       ENGLAND
549                       JAMAICA
550                         SPAIN
551                        NORWAY
552                       ANTIGUA
553                           USA
554                           USA
555                        FRANCE
556                       ICELAND
557                        ROATAN
558                        GUINEA
559                     AUSTRALIA
560                           USA
Name: Country, dtype: object

In [ ]:
df['Country'].nunique()
df['Country'].unique()

array(['AUSTRALIA', 'BAHAMAS', 'SEYCHELLES', 'ARGENTINA', 'COSTA RICA',
       'BRAZIL', 'EGYPT', 'FRENCH POLYNESIA', 'USA', 'COLOMBIA',
       'SOUTH AFRICA', 'SPAIN', 'COMOROS', 'MEXICO', 'CAPE VERDE',
       'CAYMAN ISLANDS', 'ITALY', nan, 'JAMAICA', 'TRINIDAD & TOBAGO',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'ANTIGUA',
       'UNITED ARAB EMIRATES (UAE)', 'GUAM', 'NEVIS', 'JAPAN',
       'NEW ZEALAND', 'BRITISH VIRGIN ISLANDS', 'SENEGAL', 'BELIZE',
       'Seychelles', 'LIBERIA', 'HONDURAS', 'SRI LANKA', 'INDONESIA',
       'NEW CALEDONIA', 'MADAGASCAR', 'MALAYSIA', 'TONGA', 'BERMUDA',
       'MONTENEGRO', 'SOMALIA', 'GREECE', 'MOZAMBIQUE',
       'PAPUA NEW GUINEA', 'TANZANIA', 'PANAMA', 'PHILIPPINES',
       'ATLANTIC OCEAN', 'JOHNSTON ISLAND', 'MARSHALL ISLANDS',
       'CARIBBEAN SEA', 'TURKEY', 'CUBA', 'GUATEMALA',
       'NORTH ATLANTIC OCEAN', 'NORTH PACIFIC OCEAN', 'PACIFIC OCEAN',
       'INDIAN OCEAN', 'UNITED KINGDOM', 'ISRAEL', 'ITALY / CROATIA',
       'INDIA', 'HAITI', 'ENGLAND', 'YEMEN ', 'CRETE', 'FRANCE', 'SYRIA',
       'AZORES', 'Fiji', 'GUYANA', 'CHINA', 'NORWAY', 'ICELAND', 'ROATAN',
       'GUINEA'], dtype=object)

In [ ]:
# COUNTRY

df = df.dropna(subset=["Country"])
df["Country"] = df["Country"].str.strip().str.title()

country_replacements = {
    "United States Of America": "USA",
    "Usa": "USA",
    "Us": "USA",
    "U.s.": "USA",
    "United Kingdom": "UK",
    "England": "UK",
    "Uk":"UK",
    "Brasil": "Brazil",
    "M√©xico": "Mexico",
    "United Arab Emirates (Uae)": "UAE",
    "Turkey":"T√ºrkiye"
}

df["Country"] = df["Country"].replace(country_replacements)
df = df[df["Country"] != "Italy / Croatia"]

df["Country"].describe()

count     555
unique     75
top       USA
freq      191
Name: Country, dtype: object

In [ ]:
df['Country'].unique()

array(['Australia', 'Bahamas', 'Seychelles', 'Argentina', 'Costa Rica',
       'Brazil', 'Egypt', 'French Polynesia', 'USA', 'Colombia',
       'South Africa', 'Spain', 'Comoros', 'Mexico', 'Cape Verde',
       'Cayman Islands', 'Italy', 'Jamaica', 'Trinidad & Tobago',
       'Canada', 'Croatia', 'Saudi Arabia', 'Antigua', 'UAE', 'Guam',
       'Nevis', 'Japan', 'New Zealand', 'British Virgin Islands',
       'Senegal', 'Belize', 'Liberia', 'Honduras', 'Sri Lanka',
       'Indonesia', 'New Caledonia', 'Madagascar', 'Malaysia', 'Tonga',
       'Bermuda', 'Montenegro', 'Somalia', 'Greece', 'Mozambique',
       'Papua New Guinea', 'Tanzania', 'Panama', 'Philippines',
       'Atlantic Ocean', 'Johnston Island', 'Marshall Islands',
       'Caribbean Sea', 'T√ºrkiye', 'Cuba', 'Guatemala',
       'North Atlantic Ocean', 'North Pacific Ocean', 'Pacific Ocean',
       'Indian Ocean', 'UK', 'Israel', 'India', 'Haiti', 'Yemen', 'Crete',
       'France', 'Syria', 'Azores', 'Fiji', 'Guyana', 'China', 'Norway',
       'Iceland', 'Roatan', 'Guinea'], dtype=object)

In [ ]:
top_countries = df['Country'].value_counts().head(10)
print(top_countries)
# PIE CHART FOR COUNTRIES WITH HIGHEST SHARK ATTACKS

Country
USA             191
Australia       120
South Africa     64
Italy            14
New Zealand      12
Mexico           11
Spain            10
Brazil            9
Bahamas           8
Croatia           8
Name: count, dtype: int64

In [ ]:
# Save COUNTRY CLEANED file
df.to_csv("../data/interim/1_interim_country.csv", index=False)

-----
### 'Sex' CLEANING

In [ ]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source'],
      dtype='object')

In [ ]:
df['Sex']

0        M
1        M
2        F
3        M
4        M
5        F
6        M
7        M
8        M
9      NaN
10       F
11     NaN
12       F
13       F
14     NaN
15       M
16       F
17       M
18       M
19       M
20       M
21       M
22       F
23       M
24       F
25     NaN
26       M
27       F
28       F
29       M
30       M
31       M
32       M
33       M
34       M
35     NaN
36       M
37       M
38       M
39       M
40       M
41     NaN
42       M
43       M
44       F
45       M
46       M
47       M
48       M
49       F
50       M
51       M
52       F
53       M
54       M
55       F
56       M
57     NaN
58       M
59     NaN
61       M
62       M
63       M
64       F
65       M
66       F
67       M
68       M
69       M
70       M
71       M
72       M
73       M
74       M
75       M
76       M
77       F
78       F
79     NaN
80       M
81       M
82       M
83       M
84     NaN
85       M
86       M
87       M
88       M
89       M
90       F
91       F
92       M
93       M
94       F
95       M
96       M
97       M
98       M
99       F
100      M
101      M
102      M
103      M
104      M
105      M
106    NaN
107      M
108      F
109      M
110      M
111      M
112      M
113      M
114      M
115      M
116      M
117      M
118      M
119      M
120      F
121      F
122    NaN
123      F
124      M
125      M
126      M
127      M
128      M
129      M
130      M
131      M
132      M
133    NaN
134      F
135      M
136      M
137      M
138      M
139      M
140      M
141    NaN
142      M
143      M
144      M
145    NaN
146      M
147      M
148      M
149      F
150      M
151      F
152    NaN
153      M
154      M
155      M
156      F
157      M
158      M
159      M
160      M
161      M
162      F
163      M
164      F
165      M
166      M
167    NaN
168      M
169      M
170      M
171      M
172      M
173      M
174      F
175      M
176      F
177      M
178      M
179    NaN
180      M
181      M
182      F
183      M
184    NaN
185      M
186      F
187      M
188      M
189      F
190      M
191      M
192      M
193      M
194      M
195      M
196      M
197      M
198      M
199      F
200      M
201      M
202      M
203      M
204      M
205      M
206    NaN
207      M
208      M
209      M
210      M
211      M
212      M
213      M
214      M
215      M
216      M
217      M
218      F
219      M
220      M
221      F
222      M
223      M
224      M
225      M
226      M
227    NaN
228      M
229      M
230      M
231      M
232      M
233      M
234      M
235      F
236      F
237      M
238      M
239    NaN
240      M
241      M
242      F
243      M
244      M
245      M
246      M
247      M
248      M
249      M
250      F
251      M
252      M
253      M
254    NaN
255      M
256      M
257      M
258      M
259      M
260    NaN
261      M
262      M
263      M
264      M
265    NaN
266      M
267    NaN
268      M
269    NaN
270      M
271      M
272      M
273      F
274    NaN
275      M
277      M
278      M
279      M
280      M
281      M
282    NaN
283    NaN
284      M
285    NaN
286      M
287      M
288    NaN
289    NaN
290      M
291      F
292      M
293      M
294      M
295      M
296    NaN
297      M
298      M
299      M
300      M
301      M
302      M
303      F
304    NaN
305      M
306      M
307      M
308      M
309      M
310      M
311    NaN
312    NaN
314      M
315    NaN
316      F
317      M
318      M
319      M
320      F
321    NaN
322      M
323      M
324      M
325      M
326      M
327      F
328    NaN
329      M
330      M
331      M
332    NaN
333      M
334    NaN
335      M
336      M
337    NaN
338      F
339      M
340      M
341      M
342      M
343      M
344      M
345    NaN
346      M
347      M
348      M
349    NaN
350      M
351      M
352    NaN
353      F
354      M
355      M
356      M
357      M
358      M
359      M
360      M
361    NaN
362      M
363    NaN
364      M
365      F
366      M
367      M
368      M
369    NaN
370      M
371    NaN
372      M
373      M
374      M
375    NaN
376      M
377      M
378      F
379      M
380      M
381    NaN
382      M
383      M
384      M
385      M
386      M
387      M
388      M
389      M
390    NaN
391    NaN
392    NaN
393      M
394      M
395      M
396      M
397      M
398      M
399      M
400      M
401    NaN
402      M
403      M
404    NaN
405      F
406      F
407      M
408      M
409      M
410    NaN
411      M
412      M
413      M
414      M
415      M
416      M
417      M
418      M
419    NaN
420      M
422      M
423      M
424      M
425      M
426      M
427    NaN
428      M
429      F
430      M
431      M
432      M
433    NaN
434      M
435      M
436    NaN
437      M
438      M
439      M
440      M
441      M
442      M
443      M
444      M
445    NaN
446      M
447      F
448      M
449      M
450      M
451      M
452      M
453      F
454    NaN
455      M
456      M
457      M
458      M
459      M
460      M
461      F
463    NaN
464    NaN
465      M
466      M
467      M
468      M
469      M
470      M
471      M
472      M
473      M
474      M
475    NaN
476      M
477      M
478      M
479      M
480      M
481      M
482      M
483      M
484      M
485      M
486      M
487      F
488      M
489      M
490      M
491      M
492      M
493    NaN
494      M
495    NaN
496      M
497    NaN
498      M
499    NaN
500      M
501      M
502    NaN
503      M
504    NaN
505      F
506      M
507      M
508      M
509      M
510      M
511      M
512      M
513      M
514      M
515      M
516      M
517      M
518      M
519    NaN
520      M
521      M
522      M
523      M
524      M
525      M
526      M
527      M
529      M
530      M
531      M
532      M
533    NaN
534      M
535      M
536      M
537      M
538      M
539      M
540      F
541      M
542      M
543      M
544      M
545      M
546    NaN
547      M
548    NaN
549    NaN
550      M
551      M
552    NaN
553      M
554      M
555      M
556    NaN
557      M
558      M
559      F
560      M
Name: Sex, dtype: object

In [ ]:
# NaN , F, M
df['Sex'].value_counts(dropna=False)

Sex
M      411
NaN     80
F       64
Name: count, dtype: int64

In [ ]:

df['Sex'] = df['Sex'].replace({
    'm' : 'M', 
    'f' : 'F', 
    'Male' : 'M', 
    'Female' : 'F'})

df['Sex'] = df['Sex'].str.upper()

In [ ]:

df.dropna (subset = ['Sex'], inplace= True)
df['Sex'].value_counts(dropna=False)

Sex
M    411
F     64
Name: count, dtype: int64

In [ ]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source'],
      dtype='object')

In [ ]:
df.columns.to_list()

['Date',
 'Year',
 'Type',
 'Country',
 'State',
 'Location',
 'Activity',
 'Name',
 'Sex',
 'Age',
 'Injury',
 'Fatal Y/N',
 'Time',
 'Species ',
 'Source']

In [ ]:
df.shape

(475, 15)

In [ ]:
df['Sex'].describe().round(2)

count     475
unique      2
top         M
freq      411
Name: Sex, dtype: object

In [ ]:
# Save COUNTRY CLEANED file
df.to_csv("../data/interim/2_interim_sex.csv", index=False)

-----
### 'Age' CLEANING

In [ ]:
df['Age'].info()
#238 non-null object

<class 'pandas.core.series.Series'>
Index: 475 entries, 0 to 560
Series name: Age
Non-Null Count  Dtype
--------------  -----
233 non-null    object
dtypes: object(1)
memory usage: 7.4+ KB

In [ ]:
df['Age'].unique()

array(['44', '20/30', '73', '6', '32', '50', '11', '26', nan, '35', '62',
       '34', '31', '33', '25', '10', '8', '18', '68', '20', '19', '27',
       '60', 'Teen', '65', '9', '40', '39', '43', '23', '38', '63', '47',
       '48', '42', '24', '12', '16', '14', '7', '49', '17', '52', '53',
       '45', '36', '54', '51', '22', '28', '56', '8 or 10', '75',
       '23 & 20', '37', '29', '21', '15', '30', '16 to 18', '67', '77',
       'mid-20s', 'Ca. 33', '? & 19', '46', '37, 67, 35, 27,  ? & 27',
       '21, 34,24 & 35', '34 & 19', '13', '5', '1'], dtype=object)

In [ ]:
df['Age'].nunique()

71

In [ ]:
import pandas as pd
import numpy as np
import re

# Load CSV
df = pd.read_csv(url)

def clean_age(value):
    if pd.isna(value):
        return np.nan
    
    value = str(value).strip().lower()

    # Remove common unwanted characters
    value = value.replace("years", "").replace("ca.", "").replace("about", "").strip()

    # Words that indicate no age
    if value in ["n/a", "na", "none", "?", "", "unknown"]:
        return np.nan

    # Teen keyword (assume average age 15)
    if "teen" in value:
        return 15

    # mid-20s -> 25
    if "mid" in value and "20" in value:
        return 25

    # Capture numbers if present
    nums = re.findall(r"\d+", value)

    if len(nums) == 1:
        return int(nums[0])
    
    # If multiple numbers like "20/30", "24 & 35", "16 to 18", take the average
    if len(nums) >= 2:
        nums = [int(n) for n in nums]
        return sum(nums) / len(nums)

    return np.nan

# Apply cleaning function
df['Age_clean'] = df['Age'].apply(clean_age)

# Convert to numeric properly
df['Age_clean'] = pd.to_numeric(df['Age_clean'], errors='coerce')

# Fill missing values with median
median_age = df['Age_clean'].median()
df['Age_clean'].fillna(median_age, inplace=True)

# Replace the values in 'Age' with those in 'Age_clean'
df['Age'] = df['Age_clean']

# Drop the 'Age_clean' column
df.drop(columns=['Age_clean'], inplace=True)

# Confirm results
print(df['Age'].head(5))
print("Median age used:", median_age)

# (Optional) Save cleaned file
df.to_csv(r"C:\Users\sboub\Documents\GitHub\02_project-shark-attacks\data\clean.csv", index=False)

0    44.0
1    25.0
2    73.0
3     6.0
4    32.0
Name: Age, dtype: float64
Median age used: 26.0

C:\Users\sboub\AppData\Local\Temp\ipykernel_18192\1912699362.py:50: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age_clean'].fillna(median_age, inplace=True)

In [ ]:
df['Age'].describe().round().astype(int)

count    561
mean      27
std       10
min        1
25%       26
50%       26
75%       26
max       77
Name: Age, dtype: int64

In [ ]:
import pandas as pd
import numpy as np
import re

# DATA .csv
df = pd.read_csv(url)
# def Function : clean_age(value=age)
def clean_age(value):
    if pd.isna(value):
        return np.nan
    
    value = str(value).strip().lower()

    # Remove useless text
    value = value.replace("years", "").replace("year", "").replace("ca.", "").replace("about", "").strip()

    # Words meaning no age
    if value in ["n/a", "na", "none", "?", "", "unknown"]:
        return np.nan

    # Teen keyword (approx.)
    if "teen" in value:
        return 15

    # mid-20s ‚Üí 25
    if "mid" in value and "20" in value:
        return 25

    # Extract numbers
    nums = re.findall(r"\d+", value)

    # Single number
    if len(nums) == 1:
        return int(nums[0])
    
    # Multiple numbers -> average them (20/30, 23 & 20, 16 to 18)
    if len(nums) >= 2:
        nums = [int(n) for n in nums]
        return sum(nums) / len(nums)

    return np.nan

# Apply cleaner
df['Age_clean'] = df['Age'].apply(clean_age)

# Convert to numeric
df['Age_clean'] = pd.to_numeric(df['Age_clean'], errors='coerce')

# Fill missing with median
median_age = df['Age_clean'].median()
df['Age_clean'].fillna(median_age, inplace=True)

# Convert to integer (no floats)
df['Age_clean'] = df['Age_clean'].round().astype(int)

# Show result
print(df[['Age', 'Age_clean']].head(20))
print("Median age used:", median_age)

df['Age'] = df['Age_clean']

# Check result
print("\n",df["Age"].value_counts())

      Age  Age_clean
0      44         44
1   20/30         25
2      73         73
3       6          6
4      32         32
5      50         50
6      11         11
7      26         26
8     NaN         26
9     NaN         26
10    NaN         26
11    NaN         26
12     35         35
13    NaN         26
14    NaN         26
15     50         50
16    NaN         26
17     62         62
18     34         34
19     31         31
Median age used: 26.0

 Age
26    328
17     15
20      9
43      8
25      8
24      8
19      7
18      7
32      7
22      7
21      7
27      6
23      6
11      6
31      6
36      6
28      5
9       5
40      5
35      5
10      5
14      5
49      4
44      4
39      4
52      4
45      4
12      4
34      3
29      3
30      3
50      3
47      3
37      3
7       3
53      3
42      3
33      3
15      3
68      2
38      2
8       2
6       2
62      2
60      2
13      2
63      2
48      2
16      2
51      2
73      1
65      1
54      1
75      1
56      1
77      1
67      1
46      1
2       1
5       1
1       1
Name: count, dtype: int64

C:\Users\sboub\AppData\Local\Temp\ipykernel_18192\2878044565.py:51: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age_clean'].fillna(median_age, inplace=True)

In [ ]:
df['Age'].describe().round(2)

count    561.00
mean      27.47
std       10.18
min        1.00
25%       26.00
50%       26.00
75%       26.00
max       77.00
Name: Age, dtype: float64

In [ ]:
percentiles = df['Age'].describe(percentiles=[0.25, 0.5, 0.75])

print("Age Percentile Statistics:")
print(f"Min:   {int(percentiles['min'])}")
print(f"25%:   {int(percentiles['25%'])}")
print(f"50% (Median): {int(percentiles['50%'])}")
print(f"75%:   {int(percentiles['75%'])}")
print(f"Max:   {int(percentiles['max'])}")

# the majority were people up to 26 years old

Age Percentile Statistics:
Min:   1
25%:   26
50% (Median): 26
75%:   26
Max:   77

In [ ]:
df['Age'].describe().round().astype(int)

count    561
mean      27
std       10
min        1
25%       26
50%       26
75%       26
max       77
Name: Age, dtype: int64

In [ ]:
df.head(5)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,Age_clean
0,25 Aug 2023,2023.0,Unprovoked,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Toby Begg,M,44,Severe injuries to lower limbs,NaN,10h00,"White shark, 3.8-4.2m","B. Myatt, & M. Michaelson, GSAF",44
1,21 Aug-2023,2023.0,Questionable,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,male,M,25,Body found with shark bites. Possible drowning...,NaN,Morning,NaN,"The Tribune, 8/21/2023",25
2,07-Jun-2023,2023.0,Unprovoked,BAHAMAS,Freeport,Shark Junction,Scuba diving,Heidi Ernst,F,73,Calf severely bitten,NaN,13h00,Caribbean rreef shark,"J. Marchand, GSAF",73
3,02-Mar-2023,2023.0,Unprovoked,SEYCHELLES,Praslin Island,NaN,Snorkeling,Arthur ‚Ä¶,M,6,Left foot bitten,NaN,Afternoon,Lemon shark,"Midlibre, 3/18/2023",6
4,18-Feb-2023,2023.0,Questionable,ARGENTINA,Patagonia,Chubut Province,NaN,Diego Barr√≠a,M,32,Death by misadventure,NaN,NaN,NaN,"El Pais, 2/27/2023",32

-----
### 'Type' Injury & 'Fatal Y/N'
**Fatality depends on Type of injury and severity**

In [ ]:
df['Fatal Y/N'].unique()

array([nan])

In [ ]:
import pandas as pd
import numpy as np

def classify_injury(injury, fatal):
    if pd.isna(injury):
        injury = ""
    injury = injury.lower()
    fatal = str(fatal).strip().upper()

    # HOAX / FALSE
    if "hoax" in injury or "false" in injury:
        return "Hoax / False report"

    # NOT A SHARK
    if any(x in injury for x in ["not a shark", "stingray", "barracuda", "propeller", "fish"]):
        return "Not a shark"

    # NO INJURY
    if "no injury" in injury or "no injuries" in injury:
        return "No injury"

    # PROVOKED
    if "provoked" in injury:
        return "Provoked incident"

    # MISSING
    if any(x in injury for x in ["missing", "disappeared", "body not recovered"]):
        return "Missing / Unknown"

    # FATAL CASES
    if fatal == "Y":
        # drowned then bitten after death
        if "post-mortem" in injury or ("drown" in injury and "post" in injury):
            return "Fatal | Drowned, shark scavenged"
        if "unconfirmed" in injury or "probable" in injury:
            return "Fatal | Unconfirmed shark involvement"
        return "Fatal | Shark confirmed"

    # NON-FATAL CASES
    if fatal == "N":
        if any(x in injury for x in ["bitten", "lacerat", "puncture", "wound", "abrasion"]):
            return "Non-fatal | Confirmed shark bite"
        # Text but no bite
        return "Non-fatal | Other"

    # Unknown
    return "Unknown"

# Apply to dataframe
df["Type"] = df.apply(lambda row: classify_injury(row["Injury"], row["Fatal Y/N"]), axis=1)


# Check RESULTS--------------------------------------------------------------------------------------------------------------

# Count number of records in each injury type
counts = df["Type"].value_counts()

# Calculate percentages
percentages = (counts / len(df)) * 100

# Create summary DataFrame
summary = pd.DataFrame({
    "Cases": counts,
    "Percentage": percentages.round(2)
})


# Save TYPE of INJURY CLEANED file
df.to_csv("../data/interim/4_interim_type_injury.csv", index=False)

# Print Injury type
print("Injury Type:")
for category in counts.index:
    print(f"{category}: {counts[category]} cases  ({percentages[category]:.2f}%)")

Injury Type:
Unknown: 399 cases  (71.12%)
No injury: 87 cases  (15.51%)
Missing / Unknown: 38 cases  (6.77%)
Not a shark: 27 cases  (4.81%)
Provoked incident: 5 cases  (0.89%)
Hoax / False report: 5 cases  (0.89%)

In [ ]:
df.head(5)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,Age_clean
0,25 Aug 2023,2023.0,Unknown,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Toby Begg,M,44,Severe injuries to lower limbs,NaN,10h00,"White shark, 3.8-4.2m","B. Myatt, & M. Michaelson, GSAF",44
1,21 Aug-2023,2023.0,Unknown,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,male,M,25,Body found with shark bites. Possible drowning...,NaN,Morning,NaN,"The Tribune, 8/21/2023",25
2,07-Jun-2023,2023.0,Unknown,BAHAMAS,Freeport,Shark Junction,Scuba diving,Heidi Ernst,F,73,Calf severely bitten,NaN,13h00,Caribbean rreef shark,"J. Marchand, GSAF",73
3,02-Mar-2023,2023.0,Unknown,SEYCHELLES,Praslin Island,NaN,Snorkeling,Arthur ‚Ä¶,M,6,Left foot bitten,NaN,Afternoon,Lemon shark,"Midlibre, 3/18/2023",6
4,18-Feb-2023,2023.0,Unknown,ARGENTINA,Patagonia,Chubut Province,NaN,Diego Barr√≠a,M,32,Death by misadventure,NaN,NaN,NaN,"El Pais, 2/27/2023",32

-----
#### CLASSIFY INJURY SEVERITY

In [ ]:
df['Type'].describe().round()

count         561
unique          6
top       Unknown
freq          399
Name: Type, dtype: object

In [ ]:
import re

# Function to classify injury severity
def classify_severity(val):
    if pd.isna(val):
        val = ""
    val = val.lower()
    
    if re.search(r'fatal|death|died|deceased', val):
        return "Death"
    if re.search(r'amputation|severed|severely bitten', val):
        return "Severe injury"
    if re.search(r'bitten|bite|laceration|cuts|fracture', val):
        return "Minor injury"
    if re.search(r'no injury|not injured|unharmed', val):
        return "No injury"
    if re.search(r'possible drowning|unknown', val):
        return "Uncertain"
    
    return "Other/Unknown"

# Apply to create Injury Severity column
df["Injury Severity"] = df["Injury"].apply(classify_severity)

# Now derive Fatal Y/N based on Injury Severity
def derive_fatal(severity):
    if severity == "Death":
        return "Y"
    elif severity in ["Severe injury", "Injury", "No injury", "Uncertain", "Other/Unknown"]:
        return "N"
    return "N"

df["Fatal Y/N"] = df["Injury Severity"].apply(derive_fatal)


# Save INJURY SEVERITY CLEANED file
df.to_csv("../data/interim/5_interim_injury_severity.csv", index=False)



# Check the first rows
print(df[["Injury", "Injury Severity", "Fatal Y/N"]].head(10))

                                              Injury Injury Severity Fatal Y/N
0                     Severe injuries to lower limbs   Other/Unknown         N
1  Body found with shark bites. Possible drowning...           Death         Y
2                               Calf severely bitten   Severe injury         N
3                                   Left foot bitten    Minor injury         N
4                              Death by misadventure           Death         Y
5                Right forearm and left hand injured   Other/Unknown         N
6                           Minor cuts to left thigh    Minor injury         N
7                                        Disappeared   Other/Unknown         N
8           Laceration to arm caused by metal object    Minor injury         N
9  No injury to occupants, injury to shark attemp...       No injury         N

In [ ]:
# Save INJURY SEVERITY CLEANED file
df.to_csv("../data/interim/6_interim.fatality.csv", index=False)

df['Fatal Y/N'].describe()
# majority survive shark attacks !

count     561
unique      2
top         N
freq      450
Name: Fatal Y/N, dtype: object

In [ ]:
df.head(5)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,Age_clean,Injury Severity
0,25 Aug 2023,2023.0,Unknown,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Toby Begg,M,44,Severe injuries to lower limbs,N,10h00,"White shark, 3.8-4.2m","B. Myatt, & M. Michaelson, GSAF",44,Other/Unknown
1,21 Aug-2023,2023.0,Unknown,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,male,M,25,Body found with shark bites. Possible drowning...,Y,Morning,NaN,"The Tribune, 8/21/2023",25,Death
2,07-Jun-2023,2023.0,Unknown,BAHAMAS,Freeport,Shark Junction,Scuba diving,Heidi Ernst,F,73,Calf severely bitten,N,13h00,Caribbean rreef shark,"J. Marchand, GSAF",73,Severe injury
3,02-Mar-2023,2023.0,Unknown,SEYCHELLES,Praslin Island,NaN,Snorkeling,Arthur ‚Ä¶,M,6,Left foot bitten,N,Afternoon,Lemon shark,"Midlibre, 3/18/2023",6,Minor injury
4,18-Feb-2023,2023.0,Unknown,ARGENTINA,Patagonia,Chubut Province,NaN,Diego Barr√≠a,M,32,Death by misadventure,Y,NaN,NaN,"El Pais, 2/27/2023",32,Death

----------
### 'Date' CLEANING AND SEPERATE INTO DD MM YYYY COLUMNS

In [ ]:
import pandas as pd
import re

# DataFrame with the 'Date' column
df = pd.read_csv(url)

# Function to parse dates-------------------------------------------------------------------------------------------------------------------
def parse_date(date_str):
    date_str = str(date_str).strip()
    
    # Remove 'Reported ' prefix
    date_str = re.sub(r'^Reported\s+', '', date_str, flags=re.IGNORECASE)
    
    # Patterns to match
    patterns = [
        r'(?P<DD>\d{1,2})[- ](?P<MM>[A-Za-z]+)[- ](?P<YYYY>\d{4})',  # DD MMM YYYY
        r'(?P<MM>[A-Za-z]+)[- ](?P<YYYY>\d{4})',                      # MMM-YYYY
        r'(?P<YYYY>\d{4})',                                           # YYYY only
    ]
    
    for pat in patterns:
        match = re.match(pat, date_str)
        if match:
            return match.groupdict()
    
    return {'DD': None, 'MM': None, 'YYYY': None}
#--------------------------------------------------------------------------------------------------------------------------------------------
# Call Function to the column
parsed_dates = df['Date'].apply(parse_date).apply(pd.Series)

# Merge back to original DataFrame
df = pd.concat([df, parsed_dates], axis=1)

# drop the column 'Date' and add the new columns DD MM YYYY
df = df.drop(columns=['Date'])

#
df = df[df["MM"] != "Early"]
df = df[df["MM"] != "Circa"]
df = df[df["MM"] != "Late"]
df = df[df["MM"] != "Before"]

# save added columns to our DataFrame
df.to_csv("../data/interim/7_interim_date.csv", index=False)
df.head()

,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,DD,MM,YYYY
0,2023.0,Unprovoked,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Toby Begg,M,44,Severe injuries to lower limbs,NaN,10h00,"White shark, 3.8-4.2m","B. Myatt, & M. Michaelson, GSAF",25,Aug,2023
1,2023.0,Questionable,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,male,M,20/30,Body found with shark bites. Possible drowning...,NaN,Morning,NaN,"The Tribune, 8/21/2023",21,Aug,2023
2,2023.0,Unprovoked,BAHAMAS,Freeport,Shark Junction,Scuba diving,Heidi Ernst,F,73,Calf severely bitten,NaN,13h00,Caribbean rreef shark,"J. Marchand, GSAF",07,Jun,2023
3,2023.0,Unprovoked,SEYCHELLES,Praslin Island,NaN,Snorkeling,Arthur ‚Ä¶,M,6,Left foot bitten,NaN,Afternoon,Lemon shark,"Midlibre, 3/18/2023",02,Mar,2023
4,2023.0,Questionable,ARGENTINA,Patagonia,Chubut Province,NaN,Diego Barr√≠a,M,32,Death by misadventure,NaN,NaN,NaN,"El Pais, 2/27/2023",18,Feb,2023

In [ ]:
import pandas as pd
import numpy as np
import re
# Clean the MM from 'NaN' and 'None'
df = df[df["MM"].notna() & (df["MM"] != "")]

# Replace full month names with abbreviations
df["MM"] = df["MM"].replace({
    "November": "Nov",
    "April": "Apr"
})

df['MM'].unique()

array(['Aug', 'Jun', 'Mar', 'Feb', 'Nov', 'Oct', 'Sep', 'Jul', 'Dec',
       'Apr', 'May', 'Jan'], dtype=object)

In [ ]:

import pandas as pd
import numpy as np
import re

# DATA .csv
df = pd.read_csv(url)
# Function to parse dates-------------------------------------------------------------------------------------------------------------------
def parse_date(date_str):
    date_str = str(date_str).strip()
    
    # Remove 'Reported ' prefix
    date_str = re.sub(r'^Reported\s+', '', date_str, flags=re.IGNORECASE)
    
    # Patterns to match
    patterns = [
        r'(?P<DD>\d{1,2})[- ](?P<MM>[A-Za-z]+)[- ](?P<YYYY>\d{4})',  # DD MMM YYYY
        r'(?P<MM>[A-Za-z]+)[- ](?P<YYYY>\d{4})',                      # MMM-YYYY
        r'(?P<YYYY>\d{4})',                                           # YYYY only
    ]
    
    for pat in patterns:
        match = re.match(pat, date_str)
        if match:
            return match.groupdict()
    
    return {'DD': None, 'MM': None, 'YYYY': None}
#--------------------------------------------------------------------------------------------------------------------------------------------
# Call Function to the column
parsed_dates = df['Date'].apply(parse_date).apply(pd.Series)

# Merge back to original DataFrame
df = pd.concat([df, parsed_dates], axis=1)

# drop the column 'Date' and add the new columns DD MM YYYY
df = df.drop(columns=['Date'])

#
df = df[df["MM"] != "Early"]
df = df[df["MM"] != "Circa"]
df = df[df["MM"] != "Late"]
df = df[df["MM"] != "Before"]

In [ ]:
import pandas as pd
import numpy as np
import re
# Clean the MM from 'NaN' and 'None'
df = df[df["MM"].notna() & (df["MM"] != "")]

# Replace full month names with abbreviations
df["MM"] = df["MM"].replace({
    "November": "Nov",
    "April": "Apr"
})

df['MM'].unique()

array(['Aug', 'Jun', 'Mar', 'Feb', 'Nov', 'Oct', 'Sep', 'Jul', 'Dec',
       'Apr', 'May', 'Jan'], dtype=object)

In [ ]:

# Mapping month names to integers
month_map = {
    'Jan': 1, 'January': 1,
    'Feb': 2, 'February': 2,
    'Mar': 3, 'March': 3,
    'Apr': 4, 'April': 4,
    'May': 5,
    'Jun': 6, 'June': 6,
    'Jul': 7, 'July': 7,
    'Aug': 8, 'August': 8,
    'Sep': 9, 'Sept': 9, 'September': 9,
    'Oct': 10, 'October': 10,
    'Nov': 11, 'November': 11,
    'Dec': 12, 'December': 12
}

# Map MM column to integers; non-months become NaN
df['MM_clean'] = df['MM'].map(month_map)

# Drop non-month values
df_months_only = df.dropna(subset=['MM_clean']).copy()

# Convert to int
df_months_only['MM_clean'] = df_months_only['MM_clean'].astype(int)

# Compute percentages
mm_percent = df_months_only['MM_clean'].value_counts(normalize=True) * 100


# Compute counts from the cleaned DataFrame
mm_counts = df_months_only['MM_clean'].value_counts()

# Display results
print("Counts of months (MM_clean):")
print(mm_counts.sort_index())  # months in chronological order

mm_percent = df_months_only['MM_clean'].value_counts(normalize=True) * 100

# Round to 2 decimal places and add % sign
mm_percent_formatted = mm_percent.sort_index().map(lambda x: f"{x:.2f}%")

# Display
print("\nPercentage of each month (MM_clean):")
print(mm_percent_formatted)

Counts of months (MM_clean):
MM_clean
1     54
2     25
3     33
4     48
5     28
6     45
7     64
8     72
9     37
10    32
11    34
12    39
Name: count, dtype: int64

Percentage of each month (MM_clean):
MM_clean
1     10.57%
2      4.89%
3      6.46%
4      9.39%
5      5.48%
6      8.81%
7     12.52%
8     14.09%
9      7.24%
10     6.26%
11     6.65%
12     7.63%
Name: proportion, dtype: object

In [ ]:
# frequency of shark attack in every month
df['MM'].value_counts()

MM
Aug    72
Jul    64
Jan    54
Apr    48
Jun    45
Dec    39
Sep    37
Nov    34
Mar    33
Oct    32
May    28
Feb    25
Name: count, dtype: int64

In [ ]:
# Calculate percentage of shark attacks per month
percentages = df['MM'].value_counts(normalize=True) * 100

# Sort from high to low
percentages_sorted = percentages.sort_values(ascending=False)

# Format as 00.00%
percentages_formatted = percentages_sorted.map("{:.2f}%".format)

print(percentages_formatted)

MM
Aug    14.09%
Jul    12.52%
Jan    10.57%
Apr     9.39%
Jun     8.81%
Dec     7.63%
Sep     7.24%
Nov     6.65%
Mar     6.46%
Oct     6.26%
May     5.48%
Feb     4.89%
Name: proportion, dtype: object

In [ ]:
# Save DATE CLEANED file
df.to_csv("../data/interim/7_interim_date.csv", index=False)
df.head()

,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,DD,MM,YYYY,MM_clean
0,2023.0,Unprovoked,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Toby Begg,M,44,Severe injuries to lower limbs,NaN,10h00,"White shark, 3.8-4.2m","B. Myatt, & M. Michaelson, GSAF",25,Aug,2023,8
1,2023.0,Questionable,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,male,M,20/30,Body found with shark bites. Possible drowning...,NaN,Morning,NaN,"The Tribune, 8/21/2023",21,Aug,2023,8
2,2023.0,Unprovoked,BAHAMAS,Freeport,Shark Junction,Scuba diving,Heidi Ernst,F,73,Calf severely bitten,NaN,13h00,Caribbean rreef shark,"J. Marchand, GSAF",07,Jun,2023,6
3,2023.0,Unprovoked,SEYCHELLES,Praslin Island,NaN,Snorkeling,Arthur ‚Ä¶,M,6,Left foot bitten,NaN,Afternoon,Lemon shark,"Midlibre, 3/18/2023",02,Mar,2023,3
4,2023.0,Questionable,ARGENTINA,Patagonia,Chubut Province,NaN,Diego Barr√≠a,M,32,Death by misadventure,NaN,NaN,NaN,"El Pais, 2/27/2023",18,Feb,2023,2

----
### VIEWING CHANGES

In [ ]:
df.head(5)

,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,DD,MM,YYYY,MM_clean
0,2023.0,Unprovoked,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Toby Begg,M,44,Severe injuries to lower limbs,NaN,10h00,"White shark, 3.8-4.2m","B. Myatt, & M. Michaelson, GSAF",25,Aug,2023,8
1,2023.0,Questionable,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,male,M,20/30,Body found with shark bites. Possible drowning...,NaN,Morning,NaN,"The Tribune, 8/21/2023",21,Aug,2023,8
2,2023.0,Unprovoked,BAHAMAS,Freeport,Shark Junction,Scuba diving,Heidi Ernst,F,73,Calf severely bitten,NaN,13h00,Caribbean rreef shark,"J. Marchand, GSAF",07,Jun,2023,6
3,2023.0,Unprovoked,SEYCHELLES,Praslin Island,NaN,Snorkeling,Arthur ‚Ä¶,M,6,Left foot bitten,NaN,Afternoon,Lemon shark,"Midlibre, 3/18/2023",02,Mar,2023,3
4,2023.0,Questionable,ARGENTINA,Patagonia,Chubut Province,NaN,Diego Barr√≠a,M,32,Death by misadventure,NaN,NaN,NaN,"El Pais, 2/27/2023",18,Feb,2023,2

In [ ]:
df.columns

Index(['Year', 'Type', 'Country', 'State', 'Location', 'Activity', 'Name',
       'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ', 'Source', 'DD',
       'MM', 'YYYY', 'MM_clean'],
      dtype='object')