# PROJECT 02 : SHARK ATTACKS
-----

### BRIEF : data analysis of global shark attacks for a business idea
You will initially examine the Shark Attack dataset, understanding its structure and formulating a hypothesis or several hypotheses about the data. 
 We hypothesize that shark attacks are more common in certain locations and peak during specific months.
We define a Business Case, such as 

* ‚ÄúAs a company that sells medical products, I want to identify destinations with high shark attack rates.‚Äù
* ‚ÄúAs a company providing supply transportation services, I want to know when and where shark attacks peak to plan the safe transport of medical supplies to hospitals.‚Äù

 Throughout the project, we will use Python and the pandas library to apply at least five data cleaning techniques to handle missing values, duplicates, and formatting inconsistencies. After cleaning, we will perform basic exploratory data analysis to validate our hypotheses and extract insights. 

#### üìù BUSINESS IDEA ‚Äî 3 Bullet Points

* Problem to Solve: Coastal hospitals and emergency response teams are not always prepared with the right medical supplies during periods of high shark-attack frequency. This business solves the problem by predicting when and where attacks are most likely, so medical supplies can be stocked in advance.

* Business Concept: Use historical shark attack data to create global heatmaps and seasonal risk forecasts. Then provide pharmaceutical products (painkillers, antibiotics, blood bags, emergency kits) and transportation support to hospitals and ambulances near high-risk beaches.

* Data Used to Profit: The business will analyze Country, Date/Month, Gender, Age, Fatality, and Type of Injury to identify high-risk locations, peak attack months, and most common injury types. This allows optimized supply production, targeted sales, and efficient delivery to the areas that need it most.

## üåÄCOLUMNS TO CLEAN : 
-----

**- COUNTRY (global comparison between countries to invest in more)** @Blanca

    * we just take the country column and make sure every country name is accurately named
    * We are gonna check the column of COUNTRY and make sure every country name is correct
    * We remove NULL COUNTRY data rows that dont have any country
    * We need to make sure that the name of COUNTRY  is capitalized and written the same way for example :
        United States of Amercia == USA == US
        it has to have the same name and consistent!

**- DATE ( MONTH + YEAR )** @Blanca

    * split the date into day - month columns and only use month column
    * interpret months which have shark attacks happen the most

**- GENDER ( F or M )** @Cecilia

    * We check unique values and make it so it is only two values F or M and deleted all rows that have other values
    * we noticed mostly M get attacked
    * percentages Male to Female victims
    * We remove NULL DATE data rows that dont have a date or that the date doesnt include a month and a year
    * We are gonna check the column of DATE and seperate it into three columns DAY + MONTH + YEAR
    * We verify that the new YEAR column matches with the old YEAR column and keep the ones that match
        * NEW YEAR COLUMN is the one split from the DATE column
        * OLD YEAR COLUMN is the one already existing in the original sheet
    * Once we finish comparing the new YEAR column vs old YEAR column and we find them not matching on some data rows. we remove the none matching ones so we keep clean data of accurate years
    * We remove the DAY and OLD YEAR columns
    * We are gonna keep the MONTH and matching YEAR

**- AGE (victims age ranges)** @Samia

    * majority of victims survive
    * we split the age groups into three categories (minors under 18 / adults 18-40 and 40+) 
    * keep in mind complications depending on age when getting treated
    * percentages of victims based on age ranges
    * we split the age groups into three categories (minors under 18 / adults 18-40 and elders 40+) 
    * note that there are complications depending on age

**- FATALITY ( Y or N )** @Cecilia
    * depends on the column 'Type' of injury and if it includes death or high severity
    * mostly survived 
    * for the pharamaceutical logistics & transportation of injured people to the hospital
    * assumption we have a percentage of survivals highest and we use it to sell for the
    * We check unique values and make sure it is only two values Y or N and deleted all rows that have other values
    * assumption we have a high percentage of survivals and we use it to sell the idea to profit from selling products to hospitals

**- INJURY TYPE** @Samia

    * clean the type of injury by severity
    * seperate the injury type into different severity
    * seperate the injury type into different body parts
    * treatment depends on type of injury and thus the supplies as well

-------

### IMPORT UTILS and INIT from SRC

In [66]:
import sys, os
sys.path.append(os.path.abspath(".."))
from src import utils
from src import init

-----
### GENERAL

In [67]:
import pandas as pd

# Load the CSV
url = 'https://drive.google.com/uc?export=download&id=1ZRuzHohahE54BC7hKcA289tyuL9cp7-h'
df = pd.read_csv(url)
df.head(3)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source
0,25 Aug 2023,2023.0,Unprovoked,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Toby Begg,M,44,Severe injuries to lower limbs,NaN,10h00,"White shark, 3.8-4.2m","B. Myatt, & M. Michaelson, GSAF"
1,21 Aug-2023,2023.0,Questionable,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,male,M,20/30,Body found with shark bites. Possible drowning...,NaN,Morning,NaN,"The Tribune, 8/21/2023"
2,07-Jun-2023,2023.0,Unprovoked,BAHAMAS,Freeport,Shark Junction,Scuba diving,Heidi Ernst,F,73,Calf severely bitten,NaN,13h00,Caribbean rreef shark,"J. Marchand, GSAF"

In [68]:

# Option 1: Display the entire DataFrame (all rows and columns)
pd.set_option('display.max_rows', None)      # Show all rows
pd.set_option('display.max_columns', None)   # Show all columns

#the full table
#print(df)

In [69]:
df.info()
# change type of each serie
# year into int or split it from Date
# Age into int

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       561 non-null    object
 1   Year       560 non-null    float64
 2   Type       557 non-null    object
 3   Country    556 non-null    object
 4   State      508 non-null    object
 5   Location   503 non-null    object
 6   Activity   433 non-null    object
 7   Name       502 non-null    object
 8   Sex        480 non-null    object
 9   Age        238 non-null    object
 10  Injury     553 non-null    object
 11  Fatal Y/N  0 non-null      float64
 12  Time       157 non-null    object
 13  Species    526 non-null    object
 14  Source     556 non-null    object
dtypes: float64(2), object(13)
memory usage: 65.9+ KB

In [70]:
print("\nData Frame SHAPE", df.shape)

print("\nData Columns")
df.columns

Data Frame SHAPE (561, 15)

Data Columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source'],
      dtype='object')

-----
### 'Country' CLEANING

In [71]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source'],
      dtype='object')

In [72]:
df['Country']

0                       AUSTRALIA
1                         BAHAMAS
2                         BAHAMAS
3                      SEYCHELLES
4                       ARGENTINA
5                      COSTA RICA
6                          BRAZIL
7                       AUSTRALIA
8                           EGYPT
9                       AUSTRALIA
10                      AUSTRALIA
11                      AUSTRALIA
12               FRENCH POLYNESIA
13                      AUSTRALIA
14                            USA
15                        BAHAMAS
16                            USA
17                       COLOMBIA
18                         BRAZIL
19                   SOUTH AFRICA
20                            USA
21                   SOUTH AFRICA
22                          SPAIN
23                            USA
24                            USA
25                        COMOROS
26                            USA
27                            USA
28                            USA
29                            USA
30                   SOUTH AFRICA
31                      AUSTRALIA
32                      AUSTRALIA
33                            USA
34                         MEXICO
35                         MEXICO
36                            USA
37                      AUSTRALIA
38                     CAPE VERDE
39                            USA
40                            USA
41                            USA
42                 CAYMAN ISLANDS
43                      AUSTRALIA
44                            USA
45                            USA
46                            USA
47                          SPAIN
48                      AUSTRALIA
49                            USA
50                            USA
51               FRENCH POLYNESIA
52                            USA
53                          ITALY
54                         BRAZIL
55                      AUSTRALIA
56                            USA
57                   SOUTH AFRICA
58                            USA
59                            USA
60                            NaN
61                        BAHAMAS
62                            USA
63                      AUSTRALIA
64                      AUSTRALIA
65                 CAYMAN ISLANDS
66                            USA
67                          SPAIN
68                        JAMAICA
69                            USA
70                      AUSTRALIA
71                      AUSTRALIA
72                      AUSTRALIA
73                      AUSTRALIA
74                            USA
75                            USA
76              TRINIDAD & TOBAGO
77                         CANADA
78                      AUSTRALIA
79                        CROATIA
80                            USA
81                   SAUDI ARABIA
82                        ANTIGUA
83                   SOUTH AFRICA
84                      AUSTRALIA
85                            USA
86                      AUSTRALIA
87                            USA
88                         BRAZIL
89     UNITED ARAB EMIRATES (UAE)
90                          EGYPT
91                      AUSTRALIA
92                      AUSTRALIA
93                        BAHAMAS
94                            USA
95                           GUAM
96                   SOUTH AFRICA
97                            USA
98                          NEVIS
99                          SPAIN
100                           USA
101                           USA
102                           USA
103                  SOUTH AFRICA
104                        BRAZIL
105                        BRAZIL
106                     AUSTRALIA
107                           USA
108                           USA
109                           USA
110                           USA
111                           USA
112                  SOUTH AFRICA
113                        MEXICO
114                     AUSTRALIA
115                         JAPAN
116                   NEW ZEALAND
117        BRITISH VIRGIN ISLANDS
118                     AUSTRALIA
119                        MEXICO
120                           USA
121                           USA
122                       SENEGAL
123                           USA
124                     AUSTRALIA
125                    COSTA RICA
126                     AUSTRALIA
127                           USA
128              FRENCH POLYNESIA
129                  SOUTH AFRICA
130                     AUSTRALIA
131                        BRAZIL
132                        BELIZE
133                     AUSTRALIA
134                         SPAIN
135                           USA
136                  SOUTH AFRICA
137                           USA
138                       BAHAMAS
139                           USA
140                           USA
141                  SOUTH AFRICA
142                    Seychelles
143                           USA
144                       LIBERIA
145                     AUSTRALIA
146                           USA
147                           USA
148                           USA
149                      HONDURAS
150                  SOUTH AFRICA
151                     SRI LANKA
152                   NEW ZEALAND
153                           USA
154                     AUSTRALIA
155                           USA
156                           USA
157                     AUSTRALIA
158                   NEW ZEALAND
159                   NEW ZEALAND
160                           USA
161                           USA
162                           USA
163                           USA
164                           USA
165                  SOUTH AFRICA
166                     AUSTRALIA
167                     INDONESIA
168                     AUSTRALIA
169                 NEW CALEDONIA
170                     AUSTRALIA
171                     AUSTRALIA
172                    MADAGASCAR
173                        BRAZIL
174                      MALAYSIA
175                     AUSTRALIA
176                           USA
177                           USA
178                           USA
179                     AUSTRALIA
180                   NEW ZEALAND
181                           USA
182                     AUSTRALIA
183                           USA
184                         ITALY
185                     AUSTRALIA
186                           USA
187                     AUSTRALIA
188                        MEXICO
189                           USA
190                           USA
191                           USA
192                           USA
193                         TONGA
194                           USA
195                           USA
196                  SOUTH AFRICA
197                           USA
198                     AUSTRALIA
199                           USA
200                     AUSTRALIA
201                           USA
202                           USA
203                           USA
204                           USA
205                     AUSTRALIA
206                         JAPAN
207                       BAHAMAS
208                  SOUTH AFRICA
209                           USA
210                     AUSTRALIA
211                           USA
212                           USA
213                           USA
214                       BERMUDA
215                         JAPAN
216                           USA
217                           USA
218                  SOUTH AFRICA
219                  SOUTH AFRICA
220                     AUSTRALIA
221                     AUSTRALIA
222                  SOUTH AFRICA
223                  SOUTH AFRICA
224                  SOUTH AFRICA
225                    MONTENEGRO
226                  SOUTH AFRICA
227                           USA
228                  SOUTH AFRICA
229                  SOUTH AFRICA
230                           USA
231                           USA
232                           USA
233                  SOUTH AFRICA
234                           USA
235                           USA
236                           USA
237                  SOUTH AFRICA
238                       SOMALIA
239                  SOUTH AFRICA
240                        GREECE
241                  SOUTH AFRICA
242                  SOUTH AFRICA
243                         ITALY
244                  SOUTH AFRICA
245                  SOUTH AFRICA
246                           USA
247                           USA
248                  SOUTH AFRICA
249                           USA
250                           USA
251                           USA
252                           USA
253                  SOUTH AFRICA
254                  SOUTH AFRICA
255                  SOUTH AFRICA
256                        GREECE
257                  SOUTH AFRICA
258                           USA
259                  SOUTH AFRICA
260                         ITALY
261                  SOUTH AFRICA
262                           USA
263                     AUSTRALIA
264                     AUSTRALIA
265                     AUSTRALIA
266                  SOUTH AFRICA
267                           USA
268                           USA
269                           USA
270                         ITALY
271                  SOUTH AFRICA
272                  SOUTH AFRICA
273                    MOZAMBIQUE
274                           USA
275                       CROATIA
276                           NaN
277                           USA
278                     AUSTRALIA
279                     AUSTRALIA
280                  SOUTH AFRICA
281                  SOUTH AFRICA
282              PAPUA NEW GUINEA
283                           USA
284                        MEXICO
285                      TANZANIA
286                           USA
287                           USA
288                           USA
289                           USA
290              PAPUA NEW GUINEA
291                  SOUTH AFRICA
292                           USA
293                         ITALY
294                     AUSTRALIA
295                           USA
296                     AUSTRALIA
297                     AUSTRALIA
298                       BAHAMAS
299                  SOUTH AFRICA
300                           USA
301                           USA
302                           USA
303                           USA
304                        PANAMA
305                   PHILIPPINES
306                           USA
307                           USA
308                           USA
309                           USA
310                           USA
311                  SOUTH AFRICA
312                           USA
313                           NaN
314                           USA
315                           USA
316                           USA
317                  SOUTH AFRICA
318                     AUSTRALIA
319                   NEW ZEALAND
320                ATLANTIC OCEAN
321                           USA
322                           USA
323                           USA
324                           USA
325                     AUSTRALIA
326                     AUSTRALIA
327                           USA
328                        GREECE
329                           USA
330                  SOUTH AFRICA
331                     AUSTRALIA
332                        MEXICO
333                           USA
334                     AUSTRALIA
335                           USA
336                           USA
337                  SOUTH AFRICA
338                           USA
339                     AUSTRALIA
340                           USA
341               JOHNSTON ISLAND
342              MARSHALL ISLANDS
343              MARSHALL ISLANDS
344                           USA
345                    MOZAMBIQUE
346                           USA
347                       BERMUDA
348                           USA
349                           USA
350                 CARIBBEAN SEA
351                     AUSTRALIA
352                           USA
353                       BERMUDA
354                           USA
355                     AUSTRALIA
356                         JAPAN
357                   PHILIPPINES
358                           USA
359                           USA
360                         ITALY
361                           USA
362                     AUSTRALIA
363                        TURKEY
364                  SOUTH AFRICA
365                     AUSTRALIA
366                  SOUTH AFRICA
367                     AUSTRALIA
368                         JAPAN
369                          CUBA
370                     SRI LANKA
371                          CUBA
372                           USA
373                         JAPAN
374                         ITALY
375                       CROATIA
376                           USA
377                        MEXICO
378                     GUATEMALA
379                  SOUTH AFRICA
380                    MOZAMBIQUE
381          NORTH ATLANTIC OCEAN
382                     AUSTRALIA
383                           USA
384                     AUSTRALIA
385                           USA
386                           USA
387                     AUSTRALIA
388                         ITALY
389                     AUSTRALIA
390                     AUSTRALIA
391                       SENEGAL
392                  SOUTH AFRICA
393                        GREECE
394                     AUSTRALIA
395           NORTH PACIFIC OCEAN
396                           USA
397                        MEXICO
398                 PACIFIC OCEAN
399                           USA
400                        BRAZIL
401                  INDIAN OCEAN
402                     AUSTRALIA
403                     AUSTRALIA
404                  SOUTH AFRICA
405                  SOUTH AFRICA
406                  SOUTH AFRICA
407                     AUSTRALIA
408                     AUSTRALIA
409                        TURKEY
410                         ITALY
411                     AUSTRALIA
412                     AUSTRALIA
413                     AUSTRALIA
414                     AUSTRALIA
415                UNITED KINGDOM
416                           USA
417                           USA
418                     AUSTRALIA
419                        ISRAEL
420                     AUSTRALIA
421               ITALY / CROATIA
422                     AUSTRALIA
423                           USA
424                           USA
425                           USA
426                     AUSTRALIA
427                    COSTA RICA
428                  SOUTH AFRICA
429                    CAPE VERDE
430                     AUSTRALIA
431                           USA
432                         INDIA
433                           USA
434                           USA
435                         SPAIN
436                     AUSTRALIA
437                     AUSTRALIA
438                     AUSTRALIA
439                     AUSTRALIA
440                     AUSTRALIA
441                     AUSTRALIA
442                          CUBA
443                     AUSTRALIA
444                     AUSTRALIA
445                   PHILIPPINES
446                           USA
447                           USA
448                         EGYPT
449                   NEW ZEALAND
450                           USA
451                           USA
452                           USA
453                           USA
454                         ITALY
455                  SOUTH AFRICA
456                           USA
457                       CROATIA
458                           USA
459                           USA
460                           USA
461                           USA
462                           NaN
463                         ITALY
464                         SPAIN
465                           USA
466                         HAITI
467                       ENGLAND
468                     AUSTRALIA
469                    MOZAMBIQUE
470                     AUSTRALIA
471                   NEW ZEALAND
472                     AUSTRALIA
473                         EGYPT
474                         ITALY
475                     AUSTRALIA
476                     AUSTRALIA
477                     AUSTRALIA
478                           USA
479                  SOUTH AFRICA
480                  SOUTH AFRICA
481                         ITALY
482                        YEMEN
483                  SOUTH AFRICA
484                           USA
485                   NEW ZEALAND
486                   PHILIPPINES
487                     AUSTRALIA
488                           USA
489                     AUSTRALIA
490                         CRETE
491                        MEXICO
492                          CUBA
493                       CROATIA
494                     AUSTRALIA
495                        FRANCE
496                           USA
497                     AUSTRALIA
498                  SOUTH AFRICA
499                        GREECE
500                           USA
501                       JAMAICA
502                       CROATIA
503                     AUSTRALIA
504                       CROATIA
505                           USA
506                   NEW ZEALAND
507                   NEW ZEALAND
508                     AUSTRALIA
509                           USA
510                           USA
511                     AUSTRALIA
512                           USA
513                        MEXICO
514                         SYRIA
515                           USA
516                     AUSTRALIA
517                  INDIAN OCEAN
518                  SOUTH AFRICA
519                  SOUTH AFRICA
520                     AUSTRALIA
521                     AUSTRALIA
522                        AZORES
523                       CROATIA
524                          Fiji
525                     AUSTRALIA
526                        GUYANA
527                     AUSTRALIA
528                           NaN
529                     AUSTRALIA
530                         CHINA
531                     AUSTRALIA
532                  SOUTH AFRICA
533                   NEW ZEALAND
534                         SPAIN
535                           USA
536                           USA
537                     AUSTRALIA
538                           USA
539                     AUSTRALIA
540                ATLANTIC OCEAN
541                     AUSTRALIA
542                           USA
543                           USA
544                     AUSTRALIA
545                           USA
546                         SPAIN
547                     AUSTRALIA
548                       ENGLAND
549                       JAMAICA
550                         SPAIN
551                        NORWAY
552                       ANTIGUA
553                           USA
554                           USA
555                        FRANCE
556                       ICELAND
557                        ROATAN
558                        GUINEA
559                     AUSTRALIA
560                           USA
Name: Country, dtype: object

In [73]:
df['Country'].nunique()
df['Country'].unique()

array(['AUSTRALIA', 'BAHAMAS', 'SEYCHELLES', 'ARGENTINA', 'COSTA RICA',
       'BRAZIL', 'EGYPT', 'FRENCH POLYNESIA', 'USA', 'COLOMBIA',
       'SOUTH AFRICA', 'SPAIN', 'COMOROS', 'MEXICO', 'CAPE VERDE',
       'CAYMAN ISLANDS', 'ITALY', nan, 'JAMAICA', 'TRINIDAD & TOBAGO',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'ANTIGUA',
       'UNITED ARAB EMIRATES (UAE)', 'GUAM', 'NEVIS', 'JAPAN',
       'NEW ZEALAND', 'BRITISH VIRGIN ISLANDS', 'SENEGAL', 'BELIZE',
       'Seychelles', 'LIBERIA', 'HONDURAS', 'SRI LANKA', 'INDONESIA',
       'NEW CALEDONIA', 'MADAGASCAR', 'MALAYSIA', 'TONGA', 'BERMUDA',
       'MONTENEGRO', 'SOMALIA', 'GREECE', 'MOZAMBIQUE',
       'PAPUA NEW GUINEA', 'TANZANIA', 'PANAMA', 'PHILIPPINES',
       'ATLANTIC OCEAN', 'JOHNSTON ISLAND', 'MARSHALL ISLANDS',
       'CARIBBEAN SEA', 'TURKEY', 'CUBA', 'GUATEMALA',
       'NORTH ATLANTIC OCEAN', 'NORTH PACIFIC OCEAN', 'PACIFIC OCEAN',
       'INDIAN OCEAN', 'UNITED KINGDOM', 'ISRAEL', 'ITALY / CROATIA',
       'INDIA', 'HAITI', 'ENGLAND', 'YEMEN ', 'CRETE', 'FRANCE', 'SYRIA',
       'AZORES', 'Fiji', 'GUYANA', 'CHINA', 'NORWAY', 'ICELAND', 'ROATAN',
       'GUINEA'], dtype=object)

In [74]:
# COUNTRY

df = df.dropna(subset=["Country"])
df["Country"] = df["Country"].str.strip().str.title()

country_replacements = {
    "United States Of America": "USA",
    "Usa": "USA",
    "Us": "USA",
    "U.s.": "USA",
    "United Kingdom": "UK",
    "England": "UK",
    "Uk":"UK",
    "Brasil": "Brazil",
    "M√©xico": "Mexico",
    "United Arab Emirates (Uae)": "UAE",
    "Turkey":"T√ºrkiye"
}

df["Country"] = df["Country"].replace(country_replacements)
df = df[df["Country"] != "Italy / Croatia"]

df["Country"].describe()

count     555
unique     75
top       USA
freq      191
Name: Country, dtype: object

In [121]:
import pandas as pd

# Assume df is already loaded
# COUNTRY CLEANING
df = df.dropna(subset=["Country"])
df["Country"] = df["Country"].str.strip().str.title()

country_replacements = {
    "United States Of America": "USA",
    "Usa": "USA",
    "Us": "USA",
    "U.s.": "USA",
    "United Kingdom": "UK",
    "England": "UK",
    "Uk": "UK",
    "Brasil": "Brazil",
    "M√©xico": "Mexico",
    "United Arab Emirates (Uae)": "UAE",
    "Turkey": "T√ºrkiye"
}

df["Country"] = df["Country"].replace(country_replacements)
df = df[df["Country"] != "Italy / Croatia"]

# Example: Add a new column based on Country
df["Is_USA"] = df["Country"] == "USA"  # True if country is USA, else False

# Optionally, add another column
df["Country_Length"] = df["Country"].str.len()  # number of characters in country name

# Show stats about the Country column
print(df["Country"].describe())

# Save cleaned and updated DataFrame to a new CSV
df.to_csv("../data/interim/1_interim_country.csv", index=False)
print("STEP 1 : 'Country' Data cleaned, new columns added, and CSV saved successfully!")

count     220
unique     35
top       USA
freq       85
Name: Country, dtype: object
STEP 1 : 'Country' Data cleaned, new columns added, and CSV saved successfully!

C:\Users\sboub\AppData\Local\Temp\ipykernel_5660\322725570.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\sboub\AppData\Local\Temp\ipykernel_5660\322725570.py:22: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [122]:
# Load the Country CSV
url = "../data/interim/1_interim_country.csv"
country_df = pd.read_csv(url)
country_df['Country'].unique()

array(['Australia', 'Bahamas', 'Seychelles', 'Argentina', 'Costa Rica',
       'Brazil', 'French Polynesia', 'Colombia', 'South Africa', 'USA',
       'Spain', 'Cape Verde', 'Cayman Islands', 'Italy', 'Jamaica',
       'Trinidad & Tobago', 'Canada', 'Croatia', 'Saudi Arabia', 'UAE',
       'Guam', 'Mexico', 'British Virgin Islands', 'Belize', 'Sri Lanka',
       'New Caledonia', 'New Zealand', 'Bermuda', 'Greece', 'Mozambique',
       'Papua New Guinea', 'Johnston Island', 'Japan', 'Philippines',
       'Atlantic Ocean'], dtype=object)

In [75]:
df['Country'].unique()

array(['Australia', 'Bahamas', 'Seychelles', 'Argentina', 'Costa Rica',
       'Brazil', 'Egypt', 'French Polynesia', 'USA', 'Colombia',
       'South Africa', 'Spain', 'Comoros', 'Mexico', 'Cape Verde',
       'Cayman Islands', 'Italy', 'Jamaica', 'Trinidad & Tobago',
       'Canada', 'Croatia', 'Saudi Arabia', 'Antigua', 'UAE', 'Guam',
       'Nevis', 'Japan', 'New Zealand', 'British Virgin Islands',
       'Senegal', 'Belize', 'Liberia', 'Honduras', 'Sri Lanka',
       'Indonesia', 'New Caledonia', 'Madagascar', 'Malaysia', 'Tonga',
       'Bermuda', 'Montenegro', 'Somalia', 'Greece', 'Mozambique',
       'Papua New Guinea', 'Tanzania', 'Panama', 'Philippines',
       'Atlantic Ocean', 'Johnston Island', 'Marshall Islands',
       'Caribbean Sea', 'T√ºrkiye', 'Cuba', 'Guatemala',
       'North Atlantic Ocean', 'North Pacific Ocean', 'Pacific Ocean',
       'Indian Ocean', 'UK', 'Israel', 'India', 'Haiti', 'Yemen', 'Crete',
       'France', 'Syria', 'Azores', 'Fiji', 'Guyana', 'China', 'Norway',
       'Iceland', 'Roatan', 'Guinea'], dtype=object)

In [76]:
top_countries = df['Country'].value_counts().head(10)
print(top_countries)
# PIE CHART FOR COUNTRIES WITH HIGHEST SHARK ATTACKS

Country
USA             191
Australia       120
South Africa     64
Italy            14
New Zealand      12
Mexico           11
Spain            10
Brazil            9
Bahamas           8
Croatia           8
Name: count, dtype: int64

In [77]:
# Save COUNTRY CLEANED file
df.to_csv("../data/interim/1_interim_country.csv", index=False)

-----
### 'Sex' CLEANING

In [78]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source'],
      dtype='object')

In [79]:
df['Sex']

0        M
1        M
2        F
3        M
4        M
5        F
6        M
7        M
8        M
9      NaN
10       F
11     NaN
12       F
13       F
14     NaN
15       M
16       F
17       M
18       M
19       M
20       M
21       M
22       F
23       M
24       F
25     NaN
26       M
27       F
28       F
29       M
30       M
31       M
32       M
33       M
34       M
35     NaN
36       M
37       M
38       M
39       M
40       M
41     NaN
42       M
43       M
44       F
45       M
46       M
47       M
48       M
49       F
50       M
51       M
52       F
53       M
54       M
55       F
56       M
57     NaN
58       M
59     NaN
61       M
62       M
63       M
64       F
65       M
66       F
67       M
68       M
69       M
70       M
71       M
72       M
73       M
74       M
75       M
76       M
77       F
78       F
79     NaN
80       M
81       M
82       M
83       M
84     NaN
85       M
86       M
87       M
88       M
89       M
90       F
91       F
92       M
93       M
94       F
95       M
96       M
97       M
98       M
99       F
100      M
101      M
102      M
103      M
104      M
105      M
106    NaN
107      M
108      F
109      M
110      M
111      M
112      M
113      M
114      M
115      M
116      M
117      M
118      M
119      M
120      F
121      F
122    NaN
123      F
124      M
125      M
126      M
127      M
128      M
129      M
130      M
131      M
132      M
133    NaN
134      F
135      M
136      M
137      M
138      M
139      M
140      M
141    NaN
142      M
143      M
144      M
145    NaN
146      M
147      M
148      M
149      F
150      M
151      F
152    NaN
153      M
154      M
155      M
156      F
157      M
158      M
159      M
160      M
161      M
162      F
163      M
164      F
165      M
166      M
167    NaN
168      M
169      M
170      M
171      M
172      M
173      M
174      F
175      M
176      F
177      M
178      M
179    NaN
180      M
181      M
182      F
183      M
184    NaN
185      M
186      F
187      M
188      M
189      F
190      M
191      M
192      M
193      M
194      M
195      M
196      M
197      M
198      M
199      F
200      M
201      M
202      M
203      M
204      M
205      M
206    NaN
207      M
208      M
209      M
210      M
211      M
212      M
213      M
214      M
215      M
216      M
217      M
218      F
219      M
220      M
221      F
222      M
223      M
224      M
225      M
226      M
227    NaN
228      M
229      M
230      M
231      M
232      M
233      M
234      M
235      F
236      F
237      M
238      M
239    NaN
240      M
241      M
242      F
243      M
244      M
245      M
246      M
247      M
248      M
249      M
250      F
251      M
252      M
253      M
254    NaN
255      M
256      M
257      M
258      M
259      M
260    NaN
261      M
262      M
263      M
264      M
265    NaN
266      M
267    NaN
268      M
269    NaN
270      M
271      M
272      M
273      F
274    NaN
275      M
277      M
278      M
279      M
280      M
281      M
282    NaN
283    NaN
284      M
285    NaN
286      M
287      M
288    NaN
289    NaN
290      M
291      F
292      M
293      M
294      M
295      M
296    NaN
297      M
298      M
299      M
300      M
301      M
302      M
303      F
304    NaN
305      M
306      M
307      M
308      M
309      M
310      M
311    NaN
312    NaN
314      M
315    NaN
316      F
317      M
318      M
319      M
320      F
321    NaN
322      M
323      M
324      M
325      M
326      M
327      F
328    NaN
329      M
330      M
331      M
332    NaN
333      M
334    NaN
335      M
336      M
337    NaN
338      F
339      M
340      M
341      M
342      M
343      M
344      M
345    NaN
346      M
347      M
348      M
349    NaN
350      M
351      M
352    NaN
353      F
354      M
355      M
356      M
357      M
358      M
359      M
360      M
361    NaN
362      M
363    NaN
364      M
365      F
366      M
367      M
368      M
369    NaN
370      M
371    NaN
372      M
373      M
374      M
375    NaN
376      M
377      M
378      F
379      M
380      M
381    NaN
382      M
383      M
384      M
385      M
386      M
387      M
388      M
389      M
390    NaN
391    NaN
392    NaN
393      M
394      M
395      M
396      M
397      M
398      M
399      M
400      M
401    NaN
402      M
403      M
404    NaN
405      F
406      F
407      M
408      M
409      M
410    NaN
411      M
412      M
413      M
414      M
415      M
416      M
417      M
418      M
419    NaN
420      M
422      M
423      M
424      M
425      M
426      M
427    NaN
428      M
429      F
430      M
431      M
432      M
433    NaN
434      M
435      M
436    NaN
437      M
438      M
439      M
440      M
441      M
442      M
443      M
444      M
445    NaN
446      M
447      F
448      M
449      M
450      M
451      M
452      M
453      F
454    NaN
455      M
456      M
457      M
458      M
459      M
460      M
461      F
463    NaN
464    NaN
465      M
466      M
467      M
468      M
469      M
470      M
471      M
472      M
473      M
474      M
475    NaN
476      M
477      M
478      M
479      M
480      M
481      M
482      M
483      M
484      M
485      M
486      M
487      F
488      M
489      M
490      M
491      M
492      M
493    NaN
494      M
495    NaN
496      M
497    NaN
498      M
499    NaN
500      M
501      M
502    NaN
503      M
504    NaN
505      F
506      M
507      M
508      M
509      M
510      M
511      M
512      M
513      M
514      M
515      M
516      M
517      M
518      M
519    NaN
520      M
521      M
522      M
523      M
524      M
525      M
526      M
527      M
529      M
530      M
531      M
532      M
533    NaN
534      M
535      M
536      M
537      M
538      M
539      M
540      F
541      M
542      M
543      M
544      M
545      M
546    NaN
547      M
548    NaN
549    NaN
550      M
551      M
552    NaN
553      M
554      M
555      M
556    NaN
557      M
558      M
559      F
560      M
Name: Sex, dtype: object

In [80]:
# NaN , F, M
df['Sex'].value_counts(dropna=False)

Sex
M      411
NaN     80
F       64
Name: count, dtype: int64

In [81]:

df['Sex'] = df['Sex'].replace({
    'm' : 'M', 
    'f' : 'F', 
    'Male' : 'M', 
    'Female' : 'F'})

df['Sex'] = df['Sex'].str.upper()

In [82]:

df.dropna (subset = ['Sex'], inplace= True)
df['Sex'].value_counts(dropna=False)

Sex
M    411
F     64
Name: count, dtype: int64

In [83]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source'],
      dtype='object')

In [84]:
df.columns.to_list()

['Date',
 'Year',
 'Type',
 'Country',
 'State',
 'Location',
 'Activity',
 'Name',
 'Sex',
 'Age',
 'Injury',
 'Fatal Y/N',
 'Time',
 'Species ',
 'Source']

In [85]:
df.shape

(475, 15)

In [86]:
df['Sex'].describe().round(2)

count     475
unique      2
top         M
freq      411
Name: Sex, dtype: object

In [87]:
# Save COUNTRY CLEANED file
df.to_csv("../data/interim/2_interim_sex.csv", index=False)

-----
### 'Age' CLEANING

In [88]:
df['Age'].info()
#238 non-null object

<class 'pandas.core.series.Series'>
Index: 475 entries, 0 to 560
Series name: Age
Non-Null Count  Dtype
--------------  -----
233 non-null    object
dtypes: object(1)
memory usage: 7.4+ KB

In [89]:
df['Age'].unique()

array(['44', '20/30', '73', '6', '32', '50', '11', '26', nan, '35', '62',
       '34', '31', '33', '25', '10', '8', '18', '68', '20', '19', '27',
       '60', 'Teen', '65', '9', '40', '39', '43', '23', '38', '63', '47',
       '48', '42', '24', '12', '16', '14', '7', '49', '17', '52', '53',
       '45', '36', '54', '51', '22', '28', '56', '8 or 10', '75',
       '23 & 20', '37', '29', '21', '15', '30', '16 to 18', '67', '77',
       'mid-20s', 'Ca. 33', '? & 19', '46', '37, 67, 35, 27,  ? & 27',
       '21, 34,24 & 35', '34 & 19', '13', '5', '1'], dtype=object)

In [90]:
df['Age'].nunique()

71

In [91]:
import pandas as pd
import numpy as np
import re

# Load CSV
df = pd.read_csv(url)

def clean_age(value):
    if pd.isna(value):
        return np.nan
    
    value = str(value).strip().lower()

    # Remove common unwanted characters
    value = value.replace("years", "").replace("ca.", "").replace("about", "").strip()

    # Words that indicate no age
    if value in ["n/a", "na", "none", "?", "", "unknown"]:
        return np.nan

    # Teen keyword (assume average age 15)
    if "teen" in value:
        return 15

    # mid-20s -> 25
    if "mid" in value and "20" in value:
        return 25

    # Capture numbers if present
    nums = re.findall(r"\d+", value)

    if len(nums) == 1:
        return int(nums[0])
    
    # If multiple numbers like "20/30", "24 & 35", "16 to 18", take the average
    if len(nums) >= 2:
        nums = [int(n) for n in nums]
        return sum(nums) / len(nums)

    return np.nan

# Apply cleaning function
df['Age_clean'] = df['Age'].apply(clean_age)

# Convert to numeric properly
df['Age_clean'] = pd.to_numeric(df['Age_clean'], errors='coerce')

# Fill missing values with median
median_age = df['Age_clean'].median()
df['Age_clean'].fillna(median_age, inplace=True)

# Replace the values in 'Age' with those in 'Age_clean'
df['Age'] = df['Age_clean']

# Drop the 'Age_clean' column
df.drop(columns=['Age_clean'], inplace=True)

# Confirm results
print(df['Age'].head(5))
print("Median age used:", median_age)

# (Optional) Save cleaned file
df.to_csv(r"C:\Users\sboub\Documents\GitHub\02_project-shark-attacks\data\clean.csv", index=False)

0    44.0
1    25.0
2    73.0
3     6.0
4    32.0
Name: Age, dtype: float64
Median age used: 26.0

C:\Users\sboub\AppData\Local\Temp\ipykernel_5660\1912699362.py:50: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [92]:
df['Age'].describe().round().astype(int)

count    561
mean      27
std       10
min        1
25%       26
50%       26
75%       26
max       77
Name: Age, dtype: int64

In [93]:
import pandas as pd
import numpy as np
import re

# DATA .csv
df = pd.read_csv(url)
# def Function : clean_age(value=age)
def clean_age(value):
    if pd.isna(value):
        return np.nan
    
    value = str(value).strip().lower()

    # Remove useless text
    value = value.replace("years", "").replace("year", "").replace("ca.", "").replace("about", "").strip()

    # Words meaning no age
    if value in ["n/a", "na", "none", "?", "", "unknown"]:
        return np.nan

    # Teen keyword (approx.)
    if "teen" in value:
        return 15

    # mid-20s ‚Üí 25
    if "mid" in value and "20" in value:
        return 25

    # Extract numbers
    nums = re.findall(r"\d+", value)

    # Single number
    if len(nums) == 1:
        return int(nums[0])
    
    # Multiple numbers -> average them (20/30, 23 & 20, 16 to 18)
    if len(nums) >= 2:
        nums = [int(n) for n in nums]
        return sum(nums) / len(nums)

    return np.nan

# Apply cleaner
df['Age_clean'] = df['Age'].apply(clean_age)

# Convert to numeric
df['Age_clean'] = pd.to_numeric(df['Age_clean'], errors='coerce')

# Fill missing with median
median_age = df['Age_clean'].median()
df['Age_clean'].fillna(median_age, inplace=True)

# Convert to integer (no floats)
df['Age_clean'] = df['Age_clean'].round().astype(int)

# Show result
print(df[['Age', 'Age_clean']].head(20))
print("Median age used:", median_age)

df['Age'] = df['Age_clean']

# Check result
print("\n",df["Age"].value_counts())

      Age  Age_clean
0      44         44
1   20/30         25
2      73         73
3       6          6
4      32         32
5      50         50
6      11         11
7      26         26
8     NaN         26
9     NaN         26
10    NaN         26
11    NaN         26
12     35         35
13    NaN         26
14    NaN         26
15     50         50
16    NaN         26
17     62         62
18     34         34
19     31         31
Median age used: 26.0

 Age
26    328
17     15
20      9
25      8
43      8
24      8
32      7
21      7
19      7
18      7
22      7
11      6
23      6
31      6
27      6
36      6
9       5
40      5
10      5
28      5
35      5
14      5
39      4
49      4
44      4
45      4
52      4
12      4
53      3
37      3
7       3
29      3
30      3
47      3
42      3
15      3
50      3
33      3
34      3
62      2
60      2
68      2
8       2
51      2
63      2
16      2
13      2
38      2
48      2
6       2
77      1
5       1
2       1
46      1
65      1
67      1
73      1
75      1
56      1
54      1
1       1
Name: count, dtype: int64

C:\Users\sboub\AppData\Local\Temp\ipykernel_5660\2878044565.py:51: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [94]:
df['Age'].describe().round(2)

count    561.00
mean      27.47
std       10.18
min        1.00
25%       26.00
50%       26.00
75%       26.00
max       77.00
Name: Age, dtype: float64

In [95]:
percentiles = df['Age'].describe(percentiles=[0.25, 0.5, 0.75])

print("Age Percentile Statistics:")
print(f"Min:   {int(percentiles['min'])}")
print(f"25%:   {int(percentiles['25%'])}")
print(f"50% (Median): {int(percentiles['50%'])}")
print(f"75%:   {int(percentiles['75%'])}")
print(f"Max:   {int(percentiles['max'])}")

# the majority were people up to 26 years old

Age Percentile Statistics:
Min:   1
25%:   26
50% (Median): 26
75%:   26
Max:   77

In [96]:
df['Age'].describe().round().astype(int)

count    561
mean      27
std       10
min        1
25%       26
50%       26
75%       26
max       77
Name: Age, dtype: int64

In [97]:
df.head(5)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,Age_clean
0,25 Aug 2023,2023.0,Unprovoked,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Toby Begg,M,44,Severe injuries to lower limbs,NaN,10h00,"White shark, 3.8-4.2m","B. Myatt, & M. Michaelson, GSAF",44
1,21 Aug-2023,2023.0,Questionable,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,male,M,25,Body found with shark bites. Possible drowning...,NaN,Morning,NaN,"The Tribune, 8/21/2023",25
2,07-Jun-2023,2023.0,Unprovoked,BAHAMAS,Freeport,Shark Junction,Scuba diving,Heidi Ernst,F,73,Calf severely bitten,NaN,13h00,Caribbean rreef shark,"J. Marchand, GSAF",73
3,02-Mar-2023,2023.0,Unprovoked,SEYCHELLES,Praslin Island,NaN,Snorkeling,Arthur ‚Ä¶,M,6,Left foot bitten,NaN,Afternoon,Lemon shark,"Midlibre, 3/18/2023",6
4,18-Feb-2023,2023.0,Questionable,ARGENTINA,Patagonia,Chubut Province,NaN,Diego Barr√≠a,M,32,Death by misadventure,NaN,NaN,NaN,"El Pais, 2/27/2023",32

-----
### 'Type' Injury & 'Fatal Y/N'
**Fatality depends on Type of injury and severity**

In [98]:
df['Fatal Y/N'].unique()

array([nan])

In [99]:
import pandas as pd
import numpy as np

def classify_injury(injury, fatal):
    if pd.isna(injury):
        injury = ""
    injury = injury.lower()
    fatal = str(fatal).strip().upper()

    # HOAX / FALSE
    if "hoax" in injury or "false" in injury:
        return "Hoax / False report"

    # NOT A SHARK
    if any(x in injury for x in ["not a shark", "stingray", "barracuda", "propeller", "fish"]):
        return "Not a shark"

    # NO INJURY
    if "no injury" in injury or "no injuries" in injury:
        return "No injury"

    # PROVOKED
    if "provoked" in injury:
        return "Provoked incident"

    # MISSING
    if any(x in injury for x in ["missing", "disappeared", "body not recovered"]):
        return "Missing / Unknown"

    # FATAL CASES
    if fatal == "Y":
        # drowned then bitten after death
        if "post-mortem" in injury or ("drown" in injury and "post" in injury):
            return "Fatal | Drowned, shark scavenged"
        if "unconfirmed" in injury or "probable" in injury:
            return "Fatal | Unconfirmed shark involvement"
        return "Fatal | Shark confirmed"

    # NON-FATAL CASES
    if fatal == "N":
        if any(x in injury for x in ["bitten", "lacerat", "puncture", "wound", "abrasion"]):
            return "Non-fatal | Confirmed shark bite"
        # Text but no bite
        return "Non-fatal | Other"

    # Unknown
    return "Unknown"

# Apply to dataframe
df["Type"] = df.apply(lambda row: classify_injury(row["Injury"], row["Fatal Y/N"]), axis=1)


# Check RESULTS--------------------------------------------------------------------------------------------------------------

# Count number of records in each injury type
counts = df["Type"].value_counts()

# Calculate percentages
percentages = (counts / len(df)) * 100

# Create summary DataFrame
summary = pd.DataFrame({
    "Cases": counts,
    "Percentage": percentages.round(2)
})


# Save TYPE of INJURY CLEANED file
df.to_csv("../data/interim/4_interim_type_injury.csv", index=False)

# Print Injury type
print("Injury Type:")
for category in counts.index:
    print(f"{category}: {counts[category]} cases  ({percentages[category]:.2f}%)")

Injury Type:
Unknown: 399 cases  (71.12%)
No injury: 87 cases  (15.51%)
Missing / Unknown: 38 cases  (6.77%)
Not a shark: 27 cases  (4.81%)
Provoked incident: 5 cases  (0.89%)
Hoax / False report: 5 cases  (0.89%)

In [100]:
df.head(5)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,Age_clean
0,25 Aug 2023,2023.0,Unknown,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Toby Begg,M,44,Severe injuries to lower limbs,NaN,10h00,"White shark, 3.8-4.2m","B. Myatt, & M. Michaelson, GSAF",44
1,21 Aug-2023,2023.0,Unknown,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,male,M,25,Body found with shark bites. Possible drowning...,NaN,Morning,NaN,"The Tribune, 8/21/2023",25
2,07-Jun-2023,2023.0,Unknown,BAHAMAS,Freeport,Shark Junction,Scuba diving,Heidi Ernst,F,73,Calf severely bitten,NaN,13h00,Caribbean rreef shark,"J. Marchand, GSAF",73
3,02-Mar-2023,2023.0,Unknown,SEYCHELLES,Praslin Island,NaN,Snorkeling,Arthur ‚Ä¶,M,6,Left foot bitten,NaN,Afternoon,Lemon shark,"Midlibre, 3/18/2023",6
4,18-Feb-2023,2023.0,Unknown,ARGENTINA,Patagonia,Chubut Province,NaN,Diego Barr√≠a,M,32,Death by misadventure,NaN,NaN,NaN,"El Pais, 2/27/2023",32

-----
#### CLASSIFY INJURY SEVERITY

In [101]:
df['Type'].describe().round()

count         561
unique          6
top       Unknown
freq          399
Name: Type, dtype: object

In [102]:
import re

# Function to classify injury severity
def classify_severity(val):
    if pd.isna(val):
        val = ""
    val = val.lower()
    
    if re.search(r'fatal|death|died|deceased', val):
        return "Death"
    if re.search(r'amputation|severed|severely bitten', val):
        return "Severe injury"
    if re.search(r'bitten|bite|laceration|cuts|fracture', val):
        return "Minor injury"
    if re.search(r'no injury|not injured|unharmed', val):
        return "No injury"
    if re.search(r'possible drowning|unknown', val):
        return "Uncertain"
    
    return "Other/Unknown"

# Apply to create Injury Severity column
df["Injury Severity"] = df["Injury"].apply(classify_severity)

# Now derive Fatal Y/N based on Injury Severity
def derive_fatal(severity):
    if severity == "Death":
        return "Y"
    elif severity in ["Severe injury", "Injury", "No injury", "Uncertain", "Other/Unknown"]:
        return "N"
    return "N"

df["Fatal Y/N"] = df["Injury Severity"].apply(derive_fatal)


# Save INJURY SEVERITY CLEANED file
df.to_csv("../data/interim/5_interim_injury_severity.csv", index=False)



# Check the first rows
print(df[["Injury", "Injury Severity", "Fatal Y/N"]].head(10))

                                              Injury Injury Severity Fatal Y/N
0                     Severe injuries to lower limbs   Other/Unknown         N
1  Body found with shark bites. Possible drowning...           Death         Y
2                               Calf severely bitten   Severe injury         N
3                                   Left foot bitten    Minor injury         N
4                              Death by misadventure           Death         Y
5                Right forearm and left hand injured   Other/Unknown         N
6                           Minor cuts to left thigh    Minor injury         N
7                                        Disappeared   Other/Unknown         N
8           Laceration to arm caused by metal object    Minor injury         N
9  No injury to occupants, injury to shark attemp...       No injury         N

In [103]:
# Save INJURY SEVERITY CLEANED file
df.to_csv("../data/interim/6_interim.fatality.csv", index=False)

df['Fatal Y/N'].describe()
# majority survive shark attacks !

count     561
unique      2
top         N
freq      450
Name: Fatal Y/N, dtype: object

In [104]:
df.head(5)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,Age_clean,Injury Severity
0,25 Aug 2023,2023.0,Unknown,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Toby Begg,M,44,Severe injuries to lower limbs,N,10h00,"White shark, 3.8-4.2m","B. Myatt, & M. Michaelson, GSAF",44,Other/Unknown
1,21 Aug-2023,2023.0,Unknown,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,male,M,25,Body found with shark bites. Possible drowning...,Y,Morning,NaN,"The Tribune, 8/21/2023",25,Death
2,07-Jun-2023,2023.0,Unknown,BAHAMAS,Freeport,Shark Junction,Scuba diving,Heidi Ernst,F,73,Calf severely bitten,N,13h00,Caribbean rreef shark,"J. Marchand, GSAF",73,Severe injury
3,02-Mar-2023,2023.0,Unknown,SEYCHELLES,Praslin Island,NaN,Snorkeling,Arthur ‚Ä¶,M,6,Left foot bitten,N,Afternoon,Lemon shark,"Midlibre, 3/18/2023",6,Minor injury
4,18-Feb-2023,2023.0,Unknown,ARGENTINA,Patagonia,Chubut Province,NaN,Diego Barr√≠a,M,32,Death by misadventure,Y,NaN,NaN,"El Pais, 2/27/2023",32,Death

----------
### 'Date' CLEANING AND SEPERATE INTO DD MM YYYY COLUMNS

In [105]:
import pandas as pd
import re

# DataFrame with the 'Date' column
df = pd.read_csv(url)

# Function to parse dates-------------------------------------------------------------------------------------------------------------------
def parse_date(date_str):
    date_str = str(date_str).strip()
    
    # Remove 'Reported ' prefix
    date_str = re.sub(r'^Reported\s+', '', date_str, flags=re.IGNORECASE)
    
    # Patterns to match
    patterns = [
        r'(?P<DD>\d{1,2})[- ](?P<MM>[A-Za-z]+)[- ](?P<YYYY>\d{4})',  # DD MMM YYYY
        r'(?P<MM>[A-Za-z]+)[- ](?P<YYYY>\d{4})',                      # MMM-YYYY
        r'(?P<YYYY>\d{4})',                                           # YYYY only
    ]
    
    for pat in patterns:
        match = re.match(pat, date_str)
        if match:
            return match.groupdict()
    
    return {'DD': None, 'MM': None, 'YYYY': None}
#--------------------------------------------------------------------------------------------------------------------------------------------
# Call Function to the column
parsed_dates = df['Date'].apply(parse_date).apply(pd.Series)

# Merge back to original DataFrame
df = pd.concat([df, parsed_dates], axis=1)

# drop the column 'Date' and add the new columns DD MM YYYY
df = df.drop(columns=['Date'])

#
df = df[df["MM"] != "Early"]
df = df[df["MM"] != "Circa"]
df = df[df["MM"] != "Late"]
df = df[df["MM"] != "Before"]

# save added columns to our DataFrame
df.to_csv("../data/interim/7_interim_date.csv", index=False)
df.head()

,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,DD,MM,YYYY
0,2023.0,Unprovoked,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Toby Begg,M,44,Severe injuries to lower limbs,NaN,10h00,"White shark, 3.8-4.2m","B. Myatt, & M. Michaelson, GSAF",25,Aug,2023
1,2023.0,Questionable,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,male,M,20/30,Body found with shark bites. Possible drowning...,NaN,Morning,NaN,"The Tribune, 8/21/2023",21,Aug,2023
2,2023.0,Unprovoked,BAHAMAS,Freeport,Shark Junction,Scuba diving,Heidi Ernst,F,73,Calf severely bitten,NaN,13h00,Caribbean rreef shark,"J. Marchand, GSAF",07,Jun,2023
3,2023.0,Unprovoked,SEYCHELLES,Praslin Island,NaN,Snorkeling,Arthur ‚Ä¶,M,6,Left foot bitten,NaN,Afternoon,Lemon shark,"Midlibre, 3/18/2023",02,Mar,2023
4,2023.0,Questionable,ARGENTINA,Patagonia,Chubut Province,NaN,Diego Barr√≠a,M,32,Death by misadventure,NaN,NaN,NaN,"El Pais, 2/27/2023",18,Feb,2023

In [106]:
import pandas as pd
import numpy as np
import re
# Clean the MM from 'NaN' and 'None'
df = df[df["MM"].notna() & (df["MM"] != "")]

# Replace full month names with abbreviations
df["MM"] = df["MM"].replace({
    "November": "Nov",
    "April": "Apr"
})

df['MM'].unique()

array(['Aug', 'Jun', 'Mar', 'Feb', 'Nov', 'Oct', 'Sep', 'Jul', 'Dec',
       'Apr', 'May', 'Jan'], dtype=object)

In [107]:

import pandas as pd
import numpy as np
import re

# DATA .csv
df = pd.read_csv(url)
# Function to parse dates-------------------------------------------------------------------------------------------------------------------
def parse_date(date_str):
    date_str = str(date_str).strip()
    
    # Remove 'Reported ' prefix
    date_str = re.sub(r'^Reported\s+', '', date_str, flags=re.IGNORECASE)
    
    # Patterns to match
    patterns = [
        r'(?P<DD>\d{1,2})[- ](?P<MM>[A-Za-z]+)[- ](?P<YYYY>\d{4})',  # DD MMM YYYY
        r'(?P<MM>[A-Za-z]+)[- ](?P<YYYY>\d{4})',                      # MMM-YYYY
        r'(?P<YYYY>\d{4})',                                           # YYYY only
    ]
    
    for pat in patterns:
        match = re.match(pat, date_str)
        if match:
            return match.groupdict()
    
    return {'DD': None, 'MM': None, 'YYYY': None}
#--------------------------------------------------------------------------------------------------------------------------------------------
# Call Function to the column
parsed_dates = df['Date'].apply(parse_date).apply(pd.Series)

# Merge back to original DataFrame
df = pd.concat([df, parsed_dates], axis=1)

# drop the column 'Date' and add the new columns DD MM YYYY
df = df.drop(columns=['Date'])

#
df = df[df["MM"] != "Early"]
df = df[df["MM"] != "Circa"]
df = df[df["MM"] != "Late"]
df = df[df["MM"] != "Before"]

In [108]:
import pandas as pd
import numpy as np
import re
# Clean the MM from 'NaN' and 'None'
df = df[df["MM"].notna() & (df["MM"] != "")]

# Replace full month names with abbreviations
df["MM"] = df["MM"].replace({
    "November": "Nov",
    "April": "Apr"
})

df['MM'].unique()

array(['Aug', 'Jun', 'Mar', 'Feb', 'Nov', 'Oct', 'Sep', 'Jul', 'Dec',
       'Apr', 'May', 'Jan'], dtype=object)

In [109]:

# Mapping month names to integers
month_map = {
    'Jan': 1, 'January': 1,
    'Feb': 2, 'February': 2,
    'Mar': 3, 'March': 3,
    'Apr': 4, 'April': 4,
    'May': 5,
    'Jun': 6, 'June': 6,
    'Jul': 7, 'July': 7,
    'Aug': 8, 'August': 8,
    'Sep': 9, 'Sept': 9, 'September': 9,
    'Oct': 10, 'October': 10,
    'Nov': 11, 'November': 11,
    'Dec': 12, 'December': 12
}

# Map MM column to integers; non-months become NaN
df['MM_clean'] = df['MM'].map(month_map)

# Drop non-month values
df_months_only = df.dropna(subset=['MM_clean']).copy()

# Convert to int
df_months_only['MM_clean'] = df_months_only['MM_clean'].astype(int)

# Compute percentages
mm_percent = df_months_only['MM_clean'].value_counts(normalize=True) * 100


# Compute counts from the cleaned DataFrame
mm_counts = df_months_only['MM_clean'].value_counts()

# Display results
print("Counts of months (MM_clean):")
print(mm_counts.sort_index())  # months in chronological order

mm_percent = df_months_only['MM_clean'].value_counts(normalize=True) * 100

# Round to 2 decimal places and add % sign
mm_percent_formatted = mm_percent.sort_index().map(lambda x: f"{x:.2f}%")

# Display
print("\nPercentage of each month (MM_clean):")
print(mm_percent_formatted)

Counts of months (MM_clean):
MM_clean
1     54
2     25
3     33
4     48
5     28
6     45
7     64
8     72
9     37
10    32
11    34
12    39
Name: count, dtype: int64

Percentage of each month (MM_clean):
MM_clean
1     10.57%
2      4.89%
3      6.46%
4      9.39%
5      5.48%
6      8.81%
7     12.52%
8     14.09%
9      7.24%
10     6.26%
11     6.65%
12     7.63%
Name: proportion, dtype: object

In [110]:
# frequency of shark attack in every month
df['MM'].value_counts()

MM
Aug    72
Jul    64
Jan    54
Apr    48
Jun    45
Dec    39
Sep    37
Nov    34
Mar    33
Oct    32
May    28
Feb    25
Name: count, dtype: int64

In [111]:
# Calculate percentage of shark attacks per month
percentages = df['MM'].value_counts(normalize=True) * 100

# Sort from high to low
percentages_sorted = percentages.sort_values(ascending=False)

# Format as 00.00%
percentages_formatted = percentages_sorted.map("{:.2f}%".format)

print(percentages_formatted)

MM
Aug    14.09%
Jul    12.52%
Jan    10.57%
Apr     9.39%
Jun     8.81%
Dec     7.63%
Sep     7.24%
Nov     6.65%
Mar     6.46%
Oct     6.26%
May     5.48%
Feb     4.89%
Name: proportion, dtype: object

In [112]:
# Save DATE CLEANED file
df.to_csv("../data/interim/7_interim_date.csv", index=False)
df.head()

,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,DD,MM,YYYY,MM_clean
0,2023.0,Unprovoked,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Toby Begg,M,44,Severe injuries to lower limbs,NaN,10h00,"White shark, 3.8-4.2m","B. Myatt, & M. Michaelson, GSAF",25,Aug,2023,8
1,2023.0,Questionable,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,male,M,20/30,Body found with shark bites. Possible drowning...,NaN,Morning,NaN,"The Tribune, 8/21/2023",21,Aug,2023,8
2,2023.0,Unprovoked,BAHAMAS,Freeport,Shark Junction,Scuba diving,Heidi Ernst,F,73,Calf severely bitten,NaN,13h00,Caribbean rreef shark,"J. Marchand, GSAF",07,Jun,2023,6
3,2023.0,Unprovoked,SEYCHELLES,Praslin Island,NaN,Snorkeling,Arthur ‚Ä¶,M,6,Left foot bitten,NaN,Afternoon,Lemon shark,"Midlibre, 3/18/2023",02,Mar,2023,3
4,2023.0,Questionable,ARGENTINA,Patagonia,Chubut Province,NaN,Diego Barr√≠a,M,32,Death by misadventure,NaN,NaN,NaN,"El Pais, 2/27/2023",18,Feb,2023,2

----
### VIEWING CHANGES

In [113]:
df.head(5)

,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,DD,MM,YYYY,MM_clean
0,2023.0,Unprovoked,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Toby Begg,M,44,Severe injuries to lower limbs,NaN,10h00,"White shark, 3.8-4.2m","B. Myatt, & M. Michaelson, GSAF",25,Aug,2023,8
1,2023.0,Questionable,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,male,M,20/30,Body found with shark bites. Possible drowning...,NaN,Morning,NaN,"The Tribune, 8/21/2023",21,Aug,2023,8
2,2023.0,Unprovoked,BAHAMAS,Freeport,Shark Junction,Scuba diving,Heidi Ernst,F,73,Calf severely bitten,NaN,13h00,Caribbean rreef shark,"J. Marchand, GSAF",07,Jun,2023,6
3,2023.0,Unprovoked,SEYCHELLES,Praslin Island,NaN,Snorkeling,Arthur ‚Ä¶,M,6,Left foot bitten,NaN,Afternoon,Lemon shark,"Midlibre, 3/18/2023",02,Mar,2023,3
4,2023.0,Questionable,ARGENTINA,Patagonia,Chubut Province,NaN,Diego Barr√≠a,M,32,Death by misadventure,NaN,NaN,NaN,"El Pais, 2/27/2023",18,Feb,2023,2

In [114]:
df.columns

Index(['Year', 'Type', 'Country', 'State', 'Location', 'Activity', 'Name',
       'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ', 'Source', 'DD',
       'MM', 'YYYY', 'MM_clean'],
      dtype='object')

In [115]:
import plotly.io as pio
import plotly.express as px

# Use VS Code renderer for inline display
pio.renderers.default = 'vscode'  # or 'iframe'

# Prepare data
top_5 = df['Country'].value_counts().nlargest(5).reset_index()
top_5.columns = ['Country', 'Count']

# Create pie chart
fig = px.pie(
    top_5,
    names='Country',
    values='Count',
    title='Top 5 Countries with Most Records',
    color_discrete_sequence=px.colors.qualitative.Pastel
)

fig.show()

In [116]:
# Ensure 'Age' is numeric
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
# Drop rows where Age is NaN (optional)
df = df.dropna(subset=['Age'])
import plotly.express as px
import plotly.io as pio
# Set renderer for VS Code or non-notebook environment
pio.renderers.default = 'browser'  # Use 'notebook' if you're in Jupyter
# Group the data by Sex and calculate average Age
sex_age = df.groupby('Sex')['Age'].mean().reset_index()
# Create the bar chart
fig = px.bar(
    sex_age,
    x='Sex',
    y='Age',
    color='Sex',
    title='Average Age by Sex',
    text=sex_age['Age'].round(1),
    color_discrete_sequence=px.colors.qualitative.Pastel
)
# Customize layout
fig.update_traces(textposition='outside')
fig.update_layout(
    xaxis_title='Sex',
    yaxis_title='Average Age',
    template='plotly_white'
)
fig.show()

In [117]:
import pandas as pd
import plotly.express as px
import plotly.io as pio

# Ensure inline display in VS Code
pio.renderers.default = 'vscode'  # or 'iframe'

# Check column names for typos/spaces
print(df.columns)  # Optional: just to see actual column names

# Use the correct column names for Age and Sex
age_col = [col for col in df.columns if 'age' in col.lower()][0]  # picks the first column containing 'age'
sex_col = [col for col in df.columns if 'sex' in col.lower()][0]   # picks the first column containing 'sex'

# Ensure 'Age' is numeric
df[age_col] = pd.to_numeric(df[age_col], errors='coerce')

# Drop rows where Age is NaN
df = df.dropna(subset=[age_col])

# Group by Sex and calculate average Age
sex_age = df.groupby(sex_col)[age_col].mean().reset_index()

# Create the bar chart
fig = px.bar(
    sex_age,
    x=sex_col,
    y=age_col,
    color=sex_col,
    title='Average Age by Sex',
    text=sex_age[age_col].round(1),
    color_discrete_sequence=px.colors.qualitative.Pastel
)

# Customize layout
fig.update_traces(textposition='outside')
fig.update_layout(
    xaxis_title='Sex',
    yaxis_title='Average Age',
    template='plotly_white'
)

fig.show()

Index(['Year', 'Type', 'Country', 'State', 'Location', 'Activity', 'Name',
       'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ', 'Source', 'DD',
       'MM', 'YYYY', 'MM_clean'],
      dtype='object')

In [118]:
df['Date'].unique()

KeyError: 'Date'

In [ ]:
import pandas as pd
import re
from dateutil import parser

# Example: your df
# df = pd.DataFrame({'Date': your_array})

def clean_date(date_str):
    if pd.isna(date_str):
        return pd.NaT
    
    # Remove words like "Reported", "Ca.", "Early", etc.
    date_str = re.sub(r'Reported|Some time between|Early|Ca\.|Circa|Summer of|Late|No date,|Before', '', date_str, flags=re.IGNORECASE)
    date_str = date_str.strip()
    date_str = re.sub(r'\s+', ' ', date_str)

    # Try parsing
    try:
        return parser.parse(date_str, fuzzy=True, dayfirst=True)
    except:
        return pd.NaT

# Apply cleaning function
df['Date_clean'] = df['Date'].apply(clean_date)

# Drop rows that couldn't be parsed (optional)
df_cleaned = df.dropna(subset=['Date_clean'])

# Convert to DD-MM-YYYY format as string
df_cleaned['Date_formatted'] = df_cleaned['Date_clean'].dt.strftime('%d-%m-%Y')

# Sort by date
df_cleaned = df_cleaned.sort_values('Date_clean').reset_index(drop=True)

print(df_cleaned[['Date', 'Date_formatted']])

                          Date Date_formatted
0                         1723     08-11-1723
1                         1733     08-11-1733
2                         1767     08-11-1767
3                     Sep-1805     08-09-1805
4                  Aug-24-1806     24-08-1806
5         Reported 01-May-1808     01-05-1808
6         Reported 22-May-1818     22-05-1818
7         Reported 08-Jul-1819     08-07-1819
8         Reported 30-Dec-1823     30-12-1823
9                  Before 1824     08-11-1824
10        Reported 15-Aug-1826     15-08-1826
11       Reported 22- Jan-1831     22-01-1831
12                1836.07.26.R     26-07-1836
13                    Ca. 1837     08-11-1837
14                 17-Nov-1839     17-11-1839
15                        1847     08-11-1847
16        Reported 17-Jul-1848     17-07-1848
17                 27-Jan-1849     27-01-1849
18                 19-Dec-1852     19-12-1852
19                       1853      08-11-1853
20                  Circa 1855     08-11-1855
21                 17-Aug-1858     17-08-1858
22                 23-Aug-1858     23-08-1858
23        Reported 02-Aug-1862     02-08-1862
24                 04-Dec-1862     04-12-1862
25                 05-Feb-1863     05-02-1863
26                 09-Apr-1864     09-04-1864
27                        1864     08-11-1864
28        Reported 24-Apr-1866     24-04-1866
29                 10-Apr-1869     10-04-1869
30        Reported 13-May 1871     13-05-1871
31        Reported 11-Dec-1871     11-12-1871
32                 28-Jan-1872     28-01-1872
33        Reported 07-Aug-1872     07-08-1872
34                 24-Nov-1872     24-11-1872
35        Reported 09-Jun-1873     09-06-1873
36        Reported 20-Jan-1875     20-01-1875
37                 10-Aug-1875     10-08-1875
38                 04-Jan-1877     04-01-1877
39        Reported 28-Aug-1877     28-08-1877
40                 10-Mar-1879     10-03-1879
41        Reported 07-May-1880     07-05-1880
42                    Ca. 1880     08-11-1880
43                 16-Oct-1881     16-10-1881
44                 13-Nov-1881     13-11-1881
45                        1883     08-11-1883
46                 18-Aug-1884     18-08-1884
47        Reported 06-Mar-1886     06-03-1886
48                    Mar-1886     08-03-1886
49                 11-Apr-1886     11-04-1886
50                 02-Jun-1886     02-06-1886
51                 11-Sep-1887     11-09-1887
52        Reported 18-Jun-1888     18-06-1888
53                 04-Jul-1888     04-07-1888
54        Reported 20-Jul-1888     20-07-1888
55                 16-Nov-1889     16-11-1889
56        Reported 29-Nov-1889     29-11-1889
57                 14-May-1890     14-05-1890
58                 30-Dec-1890     30-12-1890
59                 11-Jun-1891     11-06-1891
60                 24-Jun-1892     24-06-1892
61                 04-Apr-1893     04-04-1893
62                 16-Oct-1893     16-10-1893
63                 18-Sep-1895     18-09-1895
64                 15-Oct-1897     15-10-1897
65        Reported 26-Jul-1898     26-07-1898
66        Reported 14-Aug-1898     14-08-1898
67               Reported 1898     08-11-1898
68                 28-Jan-1899     28-01-1899
69                 28-May-1899     28-05-1899
70                 02-Jun-1899     02-06-1899
71                 14-Jul-1900     14-07-1900
72                 27-Oct-1900     27-10-1900
73        Reported 29-Jun-1901     29-06-1901
74                 17-Jul-1901     17-07-1901
75        Reported 19-Jan-1902     19-01-1902
76                    Apr-1902     08-04-1902
77                        1904     08-11-1904
78                 01-Jan-1905     01-01-1905
79                 10-Feb-1905     10-02-1905
80                 25-Mar-1905     25-03-1905
81        Reported 25-Jul-1905     25-07-1905
82                 24-Aug-1905     24-08-1905
83                 29-Dec-1905     29-12-1905
84        Reported 14-Feb-1906     14-02-1906
85      Reported 02-April 1906     02-04-1906
86                    Jul-1906     08-07-1906
87        Reported 04-Jul-1907     04-07-1907
88        Reported 19-Sep-1907     19-09-1907
89                 12-Oct-1907     12-10-1907
90                 10-May-1908     10-05-1908
91        Reported 18-Jul-1908     18-07-1908
92                    Jan-1909     08-01-1909
93                 17-Jan-1909     17-01-1909
94                 10-Apr-1909     10-04-1909
95                    Mar-1910     08-03-1910
96        Reported 16-May-1910     16-05-1910
97                        1910     08-11-1910
98        Reported 25-Dec-1910     25-12-1910
99                 08-Nov-1911     08-11-1911
100                04-May-1912     04-05-1912
101                26-Aug-1913     26-08-1913
102       Reported 27-Aug-1913     27-08-1913
103       Reported 27-Aug-1913     27-08-1913
104       Reported 14-Mar-1914     14-03-1914
105                13-Jan-1915     13-01-1915
106       Reported 15-May-1915     15-05-1915
107                   Ca. 1915     08-11-1915
108                13-Jul-1916     13-07-1916
109                14-Jul-1920     14-07-1920
110       Reported 11-Jan-1921     11-01-1921
111       Reported 02-Feb-1922     02-02-1922
112                29-Oct-1922     29-10-1922
113                14-Jan-1923     14-01-1923
114                27-Jan-1923     27-01-1923
115                20-Oct-1923     20-10-1923
116                02-Nov-1923     02-11-1923
117                08-Feb-1924     08-02-1924
118                20-Apr-1924     20-04-1924
119                15-Jun-1925     15-06-1925
120                03-Jul-1926     03-07-1926
121                21-Jan-1928     21-01-1928
122                27-May-1928     27-05-1928
123       Reported 24-Aug-1928     24-08-1928
124       Reported 17-Jul-1929     17-07-1929
125              Reported 1929     08-11-1929
126                08-Apr-1930     08-04-1930
127                11-May-1930     11-05-1930
128                10-Feb-1931     10-02-1931
129                30-Aug-1931     30-08-1931
130                02-Sep-1931     02-09-1931
131       Reported 14-Jul-1932     14-07-1932
132                13-Jun-1933     13-06-1933
133       Reported 26-Aug-1934     26-08-1934
134                17-Jan-1935     17-01-1935
135       Reported 21-Jan-1935     21-01-1935
136                25-Apr-1935     25-04-1935
137                27-Jul-1935     27-07-1935
138                27-Jul-1935     27-07-1935
139                24-Aug-1935     24-08-1935
140                05-Jan-1936     05-01-1936
141                09-Mar-1937     09-03-1937
142                26-Mar-1937     26-03-1937
143                07-Jul-1937     07-07-1937
144                16-Aug-1937     16-08-1937
145                       1937     08-11-1937
146                14-Jan-1938     14-01-1938
147                28-Dec-1939     28-12-1939
148                       1940     08-11-1940
149                       1940     08-11-1940
150                       1940     08-11-1940
151                05-Aug-1941     05-08-1941
152                04-Mar-1942     04-03-1942
153                05-Apr-1942     05-04-1942
154       Reported 08-Jun-1942     08-06-1942
155                 5-Apr-1943     05-04-1943
156                27-May-1943     27-05-1943
157                   Jul-1943     08-07-1943
158                26-Oct-1943     26-10-1943
159                23-Jun-1944     23-06-1944
160                01-Nov-1944     01-11-1944
161                   Jul-1947     08-07-1947
162       Reported 15-Dec-1947     15-12-1947
163                11-Mar-1948     11-03-1948
164                05-Jan-1949     05-01-1949
165                14-Jan-1949     14-01-1949
166                17-Aug-1949     17-08-1949
167                12-Nov-1949     12-11-1949
168                16-Jan-1950     16-01-1950
169                01-Mar-1950     01-03-1950
170                09-Jul-1950     09-07-1950
171                03-Jan-1951     03-01-1951
172                05-Oct-1951     05-10-1951
173             \n1951.12.15.R     15-12-1951
174                28-Jul-1952     28-07-1952
175                06-Aug-1952     06-08-1952
176                   Aug-1953     08-08-1953
177                08-Apr-1954     08-04-1954
178       Reported 01-Jul-1954     01-07-1954
179                27-Jul-1954     27-07-1954
180                02-Oct-1954     02-10-1954
181                       1955     08-11-1955
182                21-Jun-1957     21-06-1957
183                       1957     08-11-1957
184                       1957     08-11-1957
185       Reported 09-Jan-1958     09-01-1958
186                19-Feb-1958     19-02-1958
187       Reported 02-Jun-1958     02-06-1958
188                15-Jun-1958     15-06-1958
189                14-Nov-1958     14-11-1958
190                28-Dec-1958     28-12-1958
191                27-Apr-1959     27-04-1959
192                13-Jun-1959     13-06-1959
193                05-Aug-1959     05-08-1959
194                15-Aug-1959     15-08-1959
195                20-Aug-1959     20-08-1959
196                25-Aug-1959     25-08-1959
197                30-Aug-1959     30-08-1959
198                02-Sep-1959     02-09-1959
199                27-Sep-1959     27-09-1959
200                16-Nov-1959     16-11-1959
201                07-Dec-1959     07-12-1959
202                03-Feb-1960     03-02-1960
203                27-Feb-1960     27-02-1960
204                14-Apr-1960     14-04-1960
205                07-Jun-1960     07-06-1960
206                14-Aug-1960     14-08-1960
207                25-Aug-1960     25-08-1960
208                01-Sep-1960     01-09-1960
209                02-Sep-1960     02-09-1960
210                01-Oct-1960     01-10-1960
211                   Oct-1960     08-10-1960
212                   Oct-1960     08-10-1960
213          Early summer 1960     08-11-1960
214                22-Nov-1960     22-11-1960
215                03-Jan-1961     03-01-1961
216                   Feb-1961     08-02-1961
217                30-Apr-1961     30-04-1961
218                06-Sep-1961     06-09-1961
219                09-Oct-1961     09-10-1961
220                14-Nov-1961     14-11-1961
221                08-Jan-1962     08-01-1962
222                18-Jan-1962     18-01-1962
223                25-Jun-1962     25-06-1962
224       Reported 03-Jul-1962     03-07-1962
225                06-Oct-1962     06-10-1962
226                25-Nov-1962     25-11-1962
227                14-Dec-1962     14-12-1962
228                26-Jan-1963     26-01-1963
229                04-Feb-1963     04-02-1963
230                08-Apr-1963     08-04-1963
231                18-May-1963     18-05-1963
232                26-Sep-1963     26-09-1963
233       No date, Before 1963     08-11-1963
234                22-Dec-1963     22-12-1963
235                   Jan-1964     08-01-1964
236                02-Feb-1964     02-02-1964
237                02-Jun-1964     02-06-1964
238                28-Jun-1964     28-06-1964
239                15-Jul-1964     15-07-1964
240                22-Aug-1964     22-08-1964
241                27-Sep-1964     27-09-1964
242                25-Oct-1964     25-10-1964
243                25-Jan-1965     25-01-1965
244                23-Mar-1965     23-03-1965
245                25-Apr-1965     25-04-1965
246                18-Jun-1965     18-06-1965
247                19-Jun-1965     19-06-1965
248                30-Aug-1965     30-08-1965
249                03-Nov-1965     03-11-1965
250                   Ca. 1965     08-11-1965
251                16-May-1966     16-05-1966
252                03-Jul-1966     03-07-1966
253               Mid Aug-1966     08-08-1966
254                27-Aug-1966     27-08-1966
255                18-Sep-1966     18-09-1966
256                10-Mar-1967     10-03-1967
257                   Jul-1967     08-07-1967
258                10-Aug-1967     10-08-1967
259                13-Sep-1967     13-09-1967
260                20-Sep-1967     20-09-1967
261                   Nov-1967     08-11-1967
262       Reported 21-Dec-1967     21-12-1967
263                   Mar-1968     08-03-1968
264                29-Apr-1968     29-04-1968
265                18-May-1968     18-05-1968
266                   Jul-1968     08-07-1968
267                22-Sep-1968     22-09-1968
268                04-Nov-1968     04-11-1968
269                       1968     08-11-1968
270                       1968     08-11-1968
271                   Dec-1968     08-12-1968
272                29-Dec-1968     29-12-1968
273                   Feb-1969     08-02-1969
274                22-Apr-1969     22-04-1969
275                31-Mar-1970     31-03-1970
276                02-Aug-1970     02-08-1970
277                       1971     08-11-1971
278                05-Jul-1972     05-07-1972
279                04-Sep-1972     04-09-1972
280                29-Mar-1975     29-03-1975
281                18-Apr-1975     18-04-1975
282                25-Apr-1975     25-04-1975
283                04-Oct-1975     04-10-1975
284                21-Oct-1975     21-10-1975
285                28-Apr-1976     28-04-1976
286                23-Nov-1976     23-11-1976
287                26-Nov-1976     26-11-1976
288                04-Feb-1977     04-02-1977
289                16-May-1977     16-05-1977
290                05-Aug-1977     05-08-1977
291                06-Jan-1978     06-01-1978
292                07-Jun-1978     07-06-1978
293                21-Oct-1978     21-10-1978
294                27-May-1979     27-05-1979
295                       1980     08-11-1980
296                17-Nov-1980     17-11-1980
297                26-Dec-1980     26-12-1980
298                01-Jan-1981     01-01-1981
299                12-Jun-1981     12-06-1981
300                24-Aug-1981     24-08-1981
301                   May 1982     08-05-1982
302                11-Jul-1982     11-07-1982
303                31-Jul-1982     31-07-1982
304                29-Aug-1982     29-08-1982
305                04-Sep-1982     04-09-1982
306                15-Jan-1983     15-01-1983
307                02-Apr-1983     02-04-1983
308                15-Jun-1983     15-06-1983
309                10-Nov-1983     10-11-1983
310                07-Dec-1983     07-12-1983
311                30-Dec-1983     30-12-1983
312                12-Feb-1984     12-02-1984
313                17-Mar-1984     17-03-1984
314                22-Jul-1984     22-07-1984
315                24-Aug-1984     24-08-1984
316                17-Oct-1984     17-10-1984
317                21-Oct-1984     21-10-1984
318                18-Jan-1985     18-01-1985
319                17-Aug-1985     17-08-1985
320                20-Aug-1985     20-08-1985
321                05-Sep-1985     05-09-1985
322                08-Sep-1985     08-09-1985
323                10-Aug-1986     10-08-1986
324      Reported 22-Sep-1986      22-09-1986
325                04-Dec-1986     04-12-1986
326                19-Apr-1987     19-04-1987
327                25-Oct-1987     25-10-1987
328                   Nov-1987     08-11-1987
329                       1987     08-11-1987
330                13-Dec-1987     13-12-1987
331                21-Jan-1988     21-01-1988
332                27-Jan-1988     27-01-1988
333                10-Apr-1988     10-04-1988
334                15-Apr-1988     15-04-1988
335                26-Jan-1989     26-01-1989
336                   Jun-1989     08-06-1989
337                27-Jul-1989     27-07-1989
338                08-Oct-1989     08-10-1989
339                14-Oct-1989     14-10-1989
340                12-Nov-1989     12-11-1989
341                02-Dec-1989     02-12-1989
342                30-Aug-1990     30-08-1990
343                26-Dec-1990     26-12-1990
344                19-Sep-1991     19-09-1991
345                   Jan-1992     08-01-1992
346                09-Feb-1992     09-02-1992
347                31-May-1992     31-05-1992
348                23-Jul-1992     23-07-1992
349                   Aug-1992     08-08-1992
350                21-Aug-1992     21-08-1992
351                   Apr-1993     08-04-1993
352       Reported 16-Apr-1994     16-04-1994
353                09-Dec-1994     09-12-1994
354                16-Apr-1995     16-04-1995
355                01-Aug-1995     01-08-1995
356                   Aug-1995     08-08-1995
357                13-Aug-1995     13-08-1995
358                03-Sep-1995     03-09-1995
359                       1995     08-11-1995
360                       1995     08-11-1995
361                25-Nov-1995     25-11-1995
362                01-Sep-1996     01-09-1996
363             Summer of 1996     08-11-1996
364                14-Aug-1997     14-08-1997
365                05-Nov-1997     05-11-1997
366                25-Dec-1997     25-12-1997
367       Reported 28-Jan-1998     28-01-1998
368                27-Aug-1998     27-08-1998
369       Reported 03-Jan-1999     03-01-1999
370                       1999     08-11-1999
371                14-Dec-1999     14-12-1999
372  Reported      03-Mar-2000     03-03-2000
373                09-May-2000     09-05-2000
374                10-Aug-2000     10-08-2000
375                11-Aug-2000     11-08-2000
376                10-Nov-2000     10-11-2000
377                20-Nov-2000     20-11-2000
378                11-Feb-2001     11-02-2001
379                08-Mar-2001     08-03-2001
380                11-May-2001     11-05-2001
381                09-Jun-2001     09-06-2001
382                07-Nov-2001     07-11-2001
383                03-Mar-2002     03-03-2002
384                21-Apr-2002     21-04-2002
385                16-Jun-2002     16-06-2002
386                20-Dec-2002     20-12-2002
387                17-Jan-2003     17-01-2003
388                   Jun-2003     08-06-2003
389                12-Aug-2003     12-08-2003
390                14-Sep-2003     14-09-2003
391                24-Oct-2003     24-10-2003
392                26-Dec-2003     26-12-2003
393                03-Jan-2004     03-01-2004
394                22-Jan-2004     22-01-2004
395                16-Feb-2004     16-02-2004
396                04-Apr-2004     04-04-2004
397                22-May-2004     22-05-2004
398                26-Jun-2004     26-06-2004
399                10-Sep-2004     10-09-2004
400                30-Oct-2004     30-10-2004
401                26-Dec-2004     26-12-2004
402                10-Mar-2005     10-03-2005
403                06-Apr-2005     06-04-2005
404                09-Apr-2005     09-04-2005
405                05-Jun-2005     05-06-2005
406                18-Jun-2005     18-06-2005
407  Reported      15-Jul-2005     15-07-2005
408                17-Jul-2005     17-07-2005
409                22-Jul-2005     22-07-2005
410                 1-Aug-2005     01-08-2005
411                14-Aug-2005     14-08-2005
412                22-Aug-2005     22-08-2005
413                22-Sep-2005     22-09-2005
414                11-Jan-2006     11-01-2006
415                23-Feb-2006     23-02-2006
416                22-Mar-2006     22-03-2006
417  Reported      23-Apr-2006     23-04-2006
418                13-Jul-2006     13-07-2006
419       Reported 17-Jul-2006     17-07-2006
420                22-Aug-2006     22-08-2006
421                22-Aug-2006     22-08-2006
422                04-Sep-2006     04-09-2006
423                30-Sep-2006     30-09-2006
424                07-Jan-2007     07-01-2007
425                19-Jan-2007     19-01-2007
426                04-Feb-2007     04-02-2007
427                08-May-2007     08-05-2007
428                17-Jun-2007     17-06-2007
429                   Jul-2007     08-07-2007
430                17-Jul-2007     17-07-2007
431                22-Sep-2007     22-09-2007
432                      2007.     08-11-2007

C:\Users\sboub\AppData\Local\Temp\ipykernel_5660\257524799.py:30: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:

df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source'],
      dtype='object')

In [120]:
# Ensure day, month, year are integers
df['DD'] = df['DD'].astype(int)
df['MM'] = df['MM'].astype(int)
df['YYYY'] = df['YYYY'].astype(int)

# Combine into datetime
df['Date'] = pd.to_datetime(df[['YYYY', 'MM', 'DD']])

# Format as DD-MM-YYYY
df['Date'] = df['Date'].dt.strftime('%d-%m-%Y')

# Keep only Date and Fatal Y/N columns (optional)
df_final = df[['Date', 'Fatal Y/N']]

print(df_final)

ValueError: cannot convert float NaN to integer